Repository microsoft/rnx-kit, changes with the labels that .github/labeler.yml gives for each.
All labels: chore, feature: align-deps, feature: cli, feature: eslint, feature: jest, feature: metro, feature: sdk, feature: third party notices, feature: webapis

.github/labeler.yml:

"chore":
  - .github/**/*
  - .gitignore
  - .npmrc
  - .yarnrc
  - package.json
  - scripts/**/*
"feature: align-deps":
  - packages/align-deps/**/*
"feature: cli":
  - packages/cli/**/*
  - packages/config/**/*
"feature: eslint":
  - packages/eslint-*/**/*
"feature: jest":
  - packages/jest-*/**/*
"feature: metro":
  - packages/babel-plugin-import-path-remapper/**/*
  - packages/babel-preset-metro-react-native/**/*
  - packages/metro-*/**/*
  - packages/typescript-service/**/*
"feature: sdk":
  - packages/react-native-*/**/*
"feature: third party notices":
  - packages/third-party-notices/**/*
"feature: webapis":
  - "incubator/@react-native-webapis/**/*"

psListRef -> psList
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.m
Labels: feature: webapis

format
  incubator/@react-native-webapis/battery-status/windows/RNWBatteryStatus.h
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.cpp
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.h
  incubator/@react-native-webapis/battery-status/windows/pch.h
Labels: feature: webapis

format
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.m
Labels: feature: webapis

add polyfill tests
  incubator/polyfills/package.json
  incubator/polyfills/src/dependency.ts
  incubator/polyfills/src/index.ts
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/battery-status/package.json
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/battery-status/polyfill.js
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/battery-status/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/gamepad/package.json
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/gamepad/polyfill.js
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/gamepad/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/excluded-package/package.json
  incubator/polyfills/test/__fixtures__/node_modules/excluded-package/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boolean/package.json
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boolean/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boundary/package.json
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boundary/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-missing/package.json
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-missing/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/react-native/package.json
  incubator/polyfills/test/__fixtures__/node_modules/react-native/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/react/package.json
  incubator/polyfills/test/__fixtures__/package.json
  incubator/polyfills/test/__mocks__/chalk.js
  incubator/polyfills/test/dependency.test.ts
  incubator/polyfills/test/index.test.ts
Labels: none

add preliminary Windows implementation
  .gitignore
  incubator/@react-native-webapis/battery-status/windows/PropertySheet.props
  incubator/@react-native-webapis/battery-status/windows/RNWBatteryStatus.h
  incubator/@react-native-webapis/battery-status/windows/ReactNativeBatteryStatus.def
  incubator/@react-native-webapis/battery-status/windows/ReactNativeBatteryStatus.vcxproj
  incubator/@react-native-webapis/battery-status/windows/ReactNativeBatteryStatus.vcxproj.filters
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.cpp
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.h
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.idl
  incubator/@react-native-webapis/battery-status/windows/pch.cpp
  incubator/@react-native-webapis/battery-status/windows/pch.h
Labels: chore, feature: webapis

don't warn if `dependency.api.polyfill` is undefined
  incubator/polyfills/src/dependency.ts
  incubator/polyfills/test/__fixtures__/node_modules/no-polyfill/package.json
  incubator/polyfills/test/__fixtures__/node_modules/no-polyfill/react-native.config.js
Labels: none

add macOS implementation
  incubator/@react-native-webapis/battery-status/RNWBatteryStatus.podspec
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.h
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.m
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.xcodeproj/project.pbxproj
Labels: feature: webapis

macos: handle desktop scenario
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.m
Labels: feature: webapis

clarify purpose of battery-status package
  incubator/@react-native-webapis/battery-status/README.md
Labels: feature: webapis

feat(cli): allow Hermes to be run post-bundle
  .changeset/big-wolves-begin.md
  .changeset/nervous-yaks-hide.md
  packages/cli/README.md
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/hermes.ts
  packages/cli/src/bundle/overrides.ts
  packages/config/src/bundleConfig.ts
  packages/config/src/index.ts
Labels: feature: cli

small addition to RFC
  text/0002-react-native-webapis.md
Labels: none

do a few updates, tweak code accordingly
  docsite/docusaurus.config.js
  docsite/package.json
  docsite/yarn.lock
Labels: none

bump caniuse
  docsite/yarn.lock
Labels: none

feat(cli): allow Hermes to be run post-bundle (#2423)
  .changeset/big-wolves-begin.md
  .changeset/nervous-yaks-hide.md
  packages/cli/README.md
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/hermes.ts
  packages/cli/src/bundle/overrides.ts
  packages/config/src/bundleConfig.ts
  packages/config/src/index.ts
Labels: feature: cli

better readme
  README.md
Labels: none

some tweaks
  README.md
Labels: none

coc and license
  README.md
Labels: none

tweak the wording on landing page
  docsite/docusaurus.config.js
  docsite/src/components/HomepageFeatures.tsx
Labels: none

change the resources page into a community page and improve it
  docsite/docs/community.mdx
  docsite/docusaurus.config.js
  docsite/static/img/microsoft-logo.svg
Labels: none

fix broken links
  docsite/docs/architecture/overview.md
  docsite/docs/tools/overview.md
Labels: none

Update docsite/docs/community.mdx
  docsite/docs/community.mdx
Labels: none

Clean and clarify the docs (#2713)
  README.md
  docsite/docs/architecture/overview.md
  docsite/docs/community.mdx
  docsite/docs/tools/overview.md
  docsite/docusaurus.config.js
  docsite/package.json
  docsite/src/components/HomepageFeatures.tsx
  docsite/static/img/microsoft-logo.svg
  docsite/yarn.lock
Labels: none

dedupe
  yarn.lock
Labels: none

pass minify option to serializer
  packages/cli/src/bundle/metro.ts
  packages/cli/src/metro-config.ts
  packages/config/src/bundleConfig.ts
Labels: feature: cli

fix(babel-preset-metro-react-native): use `@react-native/babel-preset` with 0.73
  .changeset/twelve-actors-repeat.md
  packages/babel-preset-metro-react-native/package.json
  packages/babel-preset-metro-react-native/src/index.js
  yarn.lock
Labels: feature: metro

fixup! fix(babel-preset-metro-react-native): use `@react-native/babel-preset` with 0.73
  packages/babel-preset-metro-react-native/src/index.js
Labels: feature: metro

fix(babel-preset-metro-react-native): use `@react-native/babel-preset` with 0.73 (#2723)
  .changeset/twelve-actors-repeat.md
  packages/babel-preset-metro-react-native/package.json
  packages/babel-preset-metro-react-native/src/index.js
  yarn.lock
Labels: feature: metro

docs(changeset): Pass minify option to metro-serializer-esbuild
  .changeset/friendly-icons-drop.md
Labels: none

fix
  packages/cli/src/bundle/metro.ts
  packages/cli/src/metro-config.ts
  packages/config/src/bundleConfig.ts
Labels: feature: cli

Update packages/cli/src/bundle/metro.ts
  packages/cli/src/bundle/metro.ts
Labels: feature: cli

Update packages/cli/src/bundle/metro.ts
  packages/cli/src/bundle/metro.ts
Labels: feature: cli

fix(metro-serializer-esbuild): forward `minify` CLI option (#2722)
  .changeset/friendly-icons-drop.md
  packages/cli/src/bundle/metro.ts
Labels: feature: cli

fixup! chore(deps): update dependency @react-native/assets-registry to v0.73.1
  .github/renovate.json
  yarn.lock
Labels: chore

RELEASING: Releasing 3 package(s) (#2712)
  .changeset/big-wolves-begin.md
  .changeset/friendly-icons-drop.md
  .changeset/nervous-yaks-hide.md
  .changeset/twelve-actors-repeat.md
  packages/babel-preset-metro-react-native/CHANGELOG.md
  packages/babel-preset-metro-react-native/package.json
  packages/cli/CHANGELOG.md
  packages/cli/package.json
  packages/config/CHANGELOG.md
  packages/config/package.json
  yarn.lock
Labels: feature: cli, feature: metro
