Repository microsoft/rnx-kit, pull requests merged in 2021-09, with the labels that each got.

#569 fix(dep-check): init broke when loose was introduced
  change/@rnx-kit-dep-check-583d042d-31ec-404c-be33-0abcfc7ac42c.json
  packages/dep-check/src/cli.ts
Labels: feature: dep-check

#570 fix(dep-check): preserve indentation when modifying `package.json`
  change/@rnx-kit-dep-check-423e722d-06fa-47bd-879d-a6feb42670f0.json
  change/@rnx-kit-tools-node-246e95fd-bb28-4097-8027-2aaeffa6d5ee.json
  packages/dep-check/package.json
  packages/dep-check/src/check.ts
  packages/dep-check/src/helpers.ts
  packages/dep-check/src/initialize.ts
  packages/dep-check/src/setVersion.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/__mocks__/fs.js
  packages/dep-check/test/__snapshots__/check.test.ts.snap
  packages/dep-check/test/check.test.ts
  packages/tools-node/README.md
  packages/tools-node/src/package.ts
  yarn.lock
Labels: feature: dep-check

#578 fix(dep-check): remove `reactNativeDevVersion` if `kitType` is `app`
  change/@rnx-kit-dep-check-391fd315-d5d5-44f6-bd09-6721b995d659.json
  packages/dep-check/src/setVersion.ts
  packages/dep-check/test/setVersion.test.ts
  yarn.lock
Labels: feature: dep-check

#568 test(dep-check): refactor tests for incoming meta packages feature
  change/@rnx-kit-dep-check-321b2d50-0f16-4499-ac8d-048138f4d00b.json
  packages/dep-check/package.json
  packages/dep-check/test/capabilities.test.ts
  packages/dep-check/test/check.app.test.ts
  packages/dep-check/test/check.test.ts
  packages/dep-check/test/dependencies.test.ts
  packages/dep-check/test/helpers.ts
  packages/dep-check/test/manifest.test.ts
  packages/dep-check/test/profiles.test.ts
  packages/dep-check/test/setVersion.test.ts
  packages/dep-check/test/vigilant.test.ts
Labels: feature: dep-check

#580 fix(dep-check): also check workspace root package
  change/@rnx-kit-dep-check-305db3fd-112a-4c4b-bf54-fc55f3dafac4.json
  packages/dep-check/src/cli.ts
Labels: feature: dep-check

#586 fix(metro-config): wrong module resolved due to ignoring symlinks
  change/@rnx-kit-metro-config-3bd652a3-40fa-4006-9aa5-607ca55eee3b.json
  packages/metro-config/src/index.js
Labels: feature: metro

#587 fix(metro-resolver-symlinks): fails when path is child of origin path
  change/@rnx-kit-metro-resolver-symlinks-63a399a7-93d8-4425-94af-bdab500a153a.json
  packages/metro-resolver-symlinks/src/index.ts
  packages/metro-resolver-symlinks/test/index.test.ts
Labels: feature: metro

#579 chore: add repo jest-preset
  change/@rnx-kit-bundle-diff-1cb4832f-2a7a-4acf-bd57-e1df16bb3af2.json
  change/@rnx-kit-cli-4706a5c7-1833-43db-9444-e76e83c9fcb7.json
  change/@rnx-kit-config-035a359e-61c2-4270-88e7-3cc092c7e449.json
  change/@rnx-kit-console-d0ebf6de-93ef-452a-9079-ab049e21115b.json
  change/@rnx-kit-dep-check-0bce1dcd-33a0-44d3-83cf-58c00d6d5ad8.json
  change/@rnx-kit-esbuild-plugin-import-path-remapper-10becb8f-5e31-4d24-b2a3-c7e13df42631.json
  change/@rnx-kit-jest-preset-c7d11c57-c31b-4367-bc29-d8fd6e388650.json
  change/@rnx-kit-metro-config-95ad7210-3027-4dac-ae1d-9b7055a14950.json
  change/@rnx-kit-metro-plugin-cyclic-dependencies-detector-bbdfb26d-017a-488a-a25c-57b4d0334295.json
  change/@rnx-kit-metro-plugin-duplicates-checker-9de080ae-d85c-4067-ae39-a2c6c2017e5a.json
  change/@rnx-kit-metro-plugin-typescript-validation-b6c82e30-ee13-47e4-899a-e32ae6080b09.json
  change/@rnx-kit-metro-resolver-symlinks-888bbf18-12bc-4535-b9c3-af22239dbefc.json
  change/@rnx-kit-metro-serializer-5b400827-8c16-4ef9-a8bc-bd9b03ae4f50.json
  change/@rnx-kit-metro-serializer-esbuild-edfe0456-6a07-4264-ae0e-fb0a2c3f0400.json
  change/@rnx-kit-metro-service-552fc909-4601-413e-a012-0831458808d2.json
  change/@rnx-kit-third-party-notices-2356ac4d-5b0f-461c-9b18-e7f5af6da04a.json
  change/@rnx-kit-tools-language-2d7eed24-2439-455b-80d7-608862717814.json
  change/@rnx-kit-tools-node-ca46c8eb-49cb-4b3c-af85-3915262c25a2.json
  change/@rnx-kit-tools-react-native-70cb7927-d281-4a91-9f7d-3184b8547fd4.json
  change/@rnx-kit-typescript-service-d3bec8b3-b129-4ea2-9542-9336e1f7a08d.json
  packages/bundle-diff/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/console/package.json
  packages/dep-check/package.json
  packages/esbuild-plugin-import-path-remapper/package.json
  packages/jest-preset/package.json
  packages/metro-config/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-typescript-validation/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer/package.json
  packages/metro-service/package.json
  packages/test-app/package.json
  packages/third-party-notices/package.json
  packages/tools-language/package.json
  packages/tools-node/package.json
  packages/tools-react-native/package.json
  packages/typescript-service/package.json
  scripts/jest-preset.js
Labels: feature: metro, feature: dep-check, chore, feature: third party notices, feature: cli, feature: jest

#577 feat(dep-check): add support for meta packages
  change/@rnx-kit-dep-check-2e1e099b-a744-4048-9859-eac1115188a9.json
  packages/dep-check/README.md
  packages/dep-check/src/capabilities.ts
  packages/dep-check/src/profiles/profile-0.61.ts
  packages/dep-check/src/profiles/profile-0.62.ts
  packages/dep-check/src/profiles/profile-0.63.ts
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/src/types.ts
  packages/dep-check/test/capabilities.test.ts
  packages/dep-check/test/helpers.ts
Labels: feature: dep-check

#613 fix(dep-check): update profile 0.65 and add 0.66
  change/@rnx-kit-dep-check-f565c458-3388-4148-95bf-17faa890254a.json
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/src/profiles/profile-0.66.ts
  packages/dep-check/test/__snapshots__/check.app.test.ts.snap
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
  packages/test-app/package.json
  yarn.lock
Labels: feature: dep-check

#607 fix(cli): cannot disable plugins when bundling/serving
  change/@rnx-kit-cli-ee96f13f-0047-4cf8-8618-fb3f866285e9.json
  packages/cli/src/metro-config.ts
  packages/cli/test/metro-config.test.ts
Labels: feature: cli

#617 fix(dep-check): async-storage 1.15.8 contains fixes for 0.65
  change/@rnx-kit-dep-check-0da9f700-8077-4047-a0a1-250379fc4cc2.json
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/test/__snapshots__/check.app.test.ts.snap
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
Labels: feature: dep-check

#637 fix(babel-preset-metro-react-native): add `esbuild` transform profile
  change/@rnx-kit-babel-preset-metro-react-native-c872c54d-5a6d-425c-af3c-d6c5d68033a5.json
  change/@rnx-kit-metro-serializer-esbuild-96aa12e1-be14-4fd4-94e4-0fdefea2660e.json
  packages/babel-preset-metro-react-native/src/index.js
  packages/metro-serializer-esbuild/README.md
  packages/test-app/ios/Podfile
  packages/test-app/ios/Podfile.lock
Labels: feature: metro

#645 chore: enable `--isolatedModules` by default
  change/@rnx-kit-babel-preset-metro-react-native-8ecf8ba6-719e-445c-90bb-58e22980a9f8.json
  change/@rnx-kit-metro-config-190d7185-0ce2-4d46-88fd-60d8abf9e2fc.json
  change/@rnx-kit-third-party-notices-41c567e5-b56b-4970-8fed-066c7f9d7552.json
  packages/babel-preset-metro-react-native/test/__fixtures__/App.ts
  packages/metro-config/test/index.test.ts
  packages/third-party-notices/src/index.ts
  scripts/tsconfig-shared.json
Labels: feature: metro, feature: third party notices

#644 fix(metro-resolver-symlinks): type info is empty
  change/@rnx-kit-metro-resolver-symlinks-20b3abcb-3c1a-4437-9774-1560f69b2ac5.json
  packages/metro-resolver-symlinks/src/index.ts
  packages/metro-resolver-symlinks/src/resolver.ts
  packages/metro-resolver-symlinks/test/index.test.ts
  packages/test-app/metro.config.js
  packages/test-app/package.json
Labels: feature: metro

#660 chore: bump jest to 27.2.1
  change/@rnx-kit-babel-plugin-import-path-remapper-6458097f-031d-45f2-8bf3-0706abbfd368.json
  change/@rnx-kit-babel-preset-metro-react-native-f6675031-dcc8-4a56-854e-b88993288c96.json
  change/@rnx-kit-bundle-diff-ace7f210-b312-4d18-b72b-a8ef6a1c8322.json
  change/@rnx-kit-console-cad14303-9166-4e33-9838-1e0b8209975e.json
  change/@rnx-kit-dep-check-f250c88b-2099-4cbd-8775-ba037c8b7a02.json
  change/@rnx-kit-metro-config-748a317a-6093-4b79-b960-bca1c62d3a7e.json
  change/@rnx-kit-metro-plugin-cyclic-dependencies-detector-a75a943c-153a-4706-b95e-d5e3ad62fe7b.json
  change/@rnx-kit-metro-plugin-duplicates-checker-f0471261-61d5-4638-8ba9-ccc0be2e29d4.json
  change/@rnx-kit-third-party-notices-f378658b-bdac-4066-841a-97e7dc2fd5c8.json
  packages/babel-plugin-import-path-remapper/package.json
  packages/babel-preset-metro-react-native/package.json
  packages/bundle-diff/package.json
  packages/console/package.json
  packages/dep-check/package.json
  packages/metro-config/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-duplicates-checker/test/__snapshots__/gatherModules.test.ts.snap
  packages/third-party-notices/package.json
  scripts/package.json
  scripts/rnx-dep-check.js
  yarn.lock
Labels: feature: metro, feature: dep-check, chore, feature: third party notices

#661 chore: add lint script to packages missing it
  change/@rnx-kit-babel-preset-metro-react-native-89a5606f-8280-4068-86e3-d1d95eb3d4eb.json
  change/@rnx-kit-jest-preset-87569bac-55ce-43cf-974f-3053246b2acf.json
  change/@rnx-kit-metro-resolver-symlinks-fd01d5a9-1466-4d70-9290-13a75c68cd45.json
  change/@rnx-kit-metro-service-0c227c67-2ac4-42a6-a33f-81082f4a6dae.json
  packages/babel-preset-metro-react-native/package.json
  packages/jest-preset/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-service/package.json
Labels: feature: metro, chore, feature: jest

#666 feat(dep-check): add Metro related capabilities (7)
  change/@rnx-kit-config-82de4ac4-1dfe-4ab0-93eb-7254f762d6dc.json
  change/@rnx-kit-dep-check-5b0e40e2-eace-4d79-9ef6-b561b2addc76.json
  packages/config/src/kitConfig.ts
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.61.ts
  packages/dep-check/src/profiles/profile-0.62.ts
  packages/dep-check/src/profiles/profile-0.63.ts
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/src/profiles/profile-0.66.ts
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
Labels: enhancement, feature: dep-check, feature: cli

#667 feat(dep-check): add react-dom and react-test-renderer capabilities
  change/@rnx-kit-config-2f423e19-c8b6-44b2-a888-3888e22a691a.json
  change/@rnx-kit-dep-check-c2d609e2-acb6-43b7-a155-2b68672b7e74.json
  packages/config/src/kitConfig.ts
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.61.ts
  packages/dep-check/src/profiles/profile-0.62.ts
  packages/dep-check/src/profiles/profile-0.63.ts
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
Labels: enhancement, feature: dep-check, feature: cli

#680 fix(dep-check): include profile for 0.66
  change/@rnx-kit-dep-check-bac0dd39-4044-4286-81bd-e4870863fab9.json
  packages/dep-check/README.md
  packages/dep-check/scripts/update-readme.js
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/types.ts
  packages/dep-check/test/profiles.test.ts
Labels: feature: dep-check

#671 feat(dep-check): tweaks to react-native capability, adding jest and add first meta capability to dep-check
  change/@rnx-kit-config-fff10086-e0b9-4485-a351-5cb27403c127.json
  change/@rnx-kit-dep-check-9ceb078a-80be-436a-b70d-00f66824aae5.json
  packages/config/src/kitConfig.ts
  packages/dep-check/README.md
  packages/dep-check/src/profiles/meta-profiles.ts
  packages/dep-check/src/profiles/profile-0.61.ts
  packages/dep-check/src/profiles/profile-0.62.ts
  packages/dep-check/src/profiles/profile-0.63.ts
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/src/profiles/profile-0.66.ts
  packages/dep-check/test/__snapshots__/check.test.ts.snap
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
  packages/dep-check/test/capabilities.test.ts
  packages/dep-check/test/check.test.ts
  packages/dep-check/test/manifest.test.ts
  packages/dep-check/test/setVersion.test.ts
Labels: feature: dep-check, feature: cli
