Repository microsoft/rnx-kit, pull requests merged in 2021-12, with the labels that each got.

#918 fix(dep-check): fix loading of custom profiles from relative paths
  .changeset/young-chicken-give.md
  packages/dep-check/src/check.ts
  packages/dep-check/src/cli.ts
  packages/dep-check/src/dependencies.ts
  packages/dep-check/src/index.ts
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/types.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/__fixtures__/custom-profiles/local-profiles.js
  packages/dep-check/test/__fixtures__/custom-profiles/node_modules/custom-profiles-package/index.js
  packages/dep-check/test/__fixtures__/custom-profiles/node_modules/custom-profiles-package/package.json
  packages/dep-check/test/capabilities.test.ts
  packages/dep-check/test/dependencies.test.ts
  packages/dep-check/test/helpers.ts
  packages/dep-check/test/profiles.test.ts
  packages/dep-check/test/vigilant.test.ts
Labels: feature: dep-check

#923 fix(config): add JSON schema for config
  .changeset/proud-taxis-cross.md
  packages/config/schema.json
  packages/config/src/bundleConfig.ts
  packages/test-app/package.json
Labels: feature: cli

#924 chore: clean up Beachball artifacts in change logs
  .changeset/shy-starfishes-fail.md
  packages/babel-plugin-import-path-remapper/CHANGELOG.md
  packages/babel-preset-metro-react-native/CHANGELOG.md
  packages/bundle-diff/CHANGELOG.md
  packages/cli/CHANGELOG.md
  packages/config/CHANGELOG.md
  packages/console/CHANGELOG.md
  packages/dep-check/CHANGELOG.md
  packages/esbuild-plugin-import-path-remapper/CHANGELOG.md
  packages/eslint-config/CHANGELOG.md
  packages/eslint-plugin/CHANGELOG.md
  packages/golang/CHANGELOG.md
  packages/jest-preset/CHANGELOG.md
  packages/metro-config/CHANGELOG.md
  packages/metro-plugin-cyclic-dependencies-detector/CHANGELOG.md
  packages/metro-plugin-duplicates-checker/CHANGELOG.md
  packages/metro-resolver-symlinks/CHANGELOG.md
  packages/metro-serializer-esbuild/CHANGELOG.md
  packages/metro-serializer/CHANGELOG.md
  packages/metro-service/CHANGELOG.md
  packages/metro-swc-worker/CHANGELOG.md
  packages/react-native-test-app-msal/CHANGELOG.md
  packages/rn-changelog-generator/CHANGELOG.md
  packages/test-app/CHANGELOG.md
  packages/third-party-notices/CHANGELOG.md
  packages/tools-language/CHANGELOG.md
  packages/tools-node/CHANGELOG.md
  packages/tools-react-native/CHANGELOG.md
  packages/typescript-react-native-compiler/CHANGELOG.md
  packages/typescript-react-native-resolver/CHANGELOG.md
  packages/typescript-service/CHANGELOG.md
  scripts/CHANGELOG.md
Labels: feature: metro, feature: dep-check, chore, feature: third party notices, feature: cli, feature: jest, feature: eslint

#919 chore: bump lage to 1.1.2
  package.json
  yarn.lock
Labels: chore

#914 ci: publish with the GitHub provided token
  .github/workflows/build.yml
Labels: chore

#905 fix(metro-resolver-symlinks): add lib -> src remapper util
  .changeset/perfect-birds-rush.md
  .changeset/wise-dingos-boil.md
  packages/metro-resolver-symlinks/README.md
  packages/metro-resolver-symlinks/package.json
  packages/metro-resolver-symlinks/src/index.ts
  packages/metro-resolver-symlinks/src/resolver.ts
  packages/metro-resolver-symlinks/src/types.ts
  packages/metro-resolver-symlinks/src/utils/remapImportPath.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/example/package.json
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/example/src/index.tsx
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/exotic/package.json
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/exotic/src/index.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/platform/src/index.android.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/platform/src/index.ios.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/platform/src/index.native.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/platform/src/index.win.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/platform/src/index.windows.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/relative/package.json
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/node_modules/@contoso/relative/src/index.ts
  packages/metro-resolver-symlinks/test/__fixtures__/remap-import-path/package.json
  packages/metro-resolver-symlinks/test/index.test.ts
  packages/metro-resolver-symlinks/test/remapImportPath.test.ts
  packages/metro-resolver-symlinks/tsconfig.json
  packages/tools-react-native/README.md
  packages/tools-react-native/src/index.ts
  packages/tools-react-native/src/platform.ts
  packages/tools-react-native/test/platform.test.ts
  packages/typescript-react-native-resolver/package.json
  packages/typescript-react-native-resolver/src/react-native-package-name.ts
  packages/typescript-react-native-resolver/test/react-native-package-name.test.ts
Labels: feature: metro

#927 ci: workaround for release PR skipping CI
  .changeset/tricky-cameras-marry.md
  .github/workflows/build.yml
  package.json
  scripts/disableChangesetsCommitAndBumpPackages.js
Labels: chore

#932 feat(dep-check): all deps should be checked under --vigilant
  .changeset/bright-balloons-add.md
  packages/dep-check/src/check.ts
  packages/dep-check/src/types.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
  packages/dep-check/test/vigilant.test.ts
  packages/test-app/package.json
  yarn.lock
Labels: feature: dep-check

#935 chore(dep-check): add script for pulling latest version of all capabilities
  .changeset/slow-seals-divide.md
  packages/dep-check/README.md
  packages/dep-check/scripts/delta.js
  packages/dep-check/scripts/update-readme.js
  packages/dep-check/src/capabilities.ts
Labels: feature: dep-check

#894 feat(react-native-test-app-msal): add support for Android
  .changeset/breezy-mugs-shake.md
  .github/workflows/pr.yml
  packages/react-native-test-app-msal/README.md
  packages/react-native-test-app-msal/android/build.gradle
  packages/react-native-test-app-msal/android/gradle.properties
  packages/react-native-test-app-msal/android/src/main/AndroidManifest.xml
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/Account.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AccountType.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AccountsAdapter.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AccountsViewModel.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AuthError.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AuthErrorType.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AuthResult.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/Config.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/MicrosoftAccountsActivity.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/MsalPackage.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/TokenBroker.kt
  packages/react-native-test-app-msal/android/src/main/res/color/destructive_btn_bg_color_selector.xml
  packages/react-native-test-app-msal/android/src/main/res/color/destructive_btn_text_color_selector.xml
  packages/react-native-test-app-msal/android/src/main/res/drawable/ic_person_add_24dp.xml
  packages/react-native-test-app-msal/android/src/main/res/layout/account_item.xml
  packages/react-native-test-app-msal/android/src/main/res/layout/microsoft_accounts.xml
  packages/react-native-test-app-msal/android/src/main/res/values/destructive_button.xml
  packages/react-native-test-app-msal/android/src/main/res/values/strings.xml
  packages/react-native-test-app-msal/ios/AccountType.swift
  packages/react-native-test-app-msal/ios/AccountsView.swift
  packages/react-native-test-app-msal/ios/Config.swift
  packages/react-native-test-app-msal/ios/TokenBroker.swift
  packages/react-native-test-app-msal/package.json
  packages/test-app/android/build.gradle
  packages/test-app/android/gradle/wrapper/gradle-wrapper.properties
  packages/test-app/app.json
  packages/test-app/ios/Podfile.lock
Labels: chore

#934 CLI updates
  .changeset/poor-spoons-love.md
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/metro.ts
  packages/cli/src/metro-config.ts
  packages/cli/src/start.ts
  packages/cli/src/types.ts
  packages/cli/src/typescript/project-cache.ts
Labels: feature: cli

#942 docs(dep-check): add more words about meta capabilities
  .changeset/seven-brooms-compare.md
  packages/dep-check/README.md
Labels: feature: dep-check

#947 Fix Metro type-checking
  .changeset/nine-bikes-buy.md
  packages/cli/src/metro-config.ts
  packages/cli/src/typescript/project-cache.ts
Labels: feature: cli

#954 TypeScript+Metro fixes
  .changeset/long-plums-collect.md
  .changeset/metal-llamas-sell.md
  packages/cli/src/typescript/project-cache.ts
  packages/typescript-react-native-resolver/src/host.ts
Labels: feature: cli
