Repository microsoft/rnx-kit, pull requests merged in 2021-07, with the labels that each got.

#410 fix(metro-config): handle workspace dependencies in exclusions
  change/@rnx-kit-metro-config-b17b7d9b-b77c-436c-80b0-e37d28b95662.json
  packages/metro-config/src/index.js
  packages/metro-config/test/__fixtures__/awesome-repo/node_modules/@commando/matrix/package.json
  packages/metro-config/test/__fixtures__/awesome-repo/packages/john/node_modules/@commando/matrix/package.json
  packages/metro-config/test/index.test.js
Labels: feature: metro

#411 docs(metro-serializer-esbuild): add known limitations
  change/@rnx-kit-metro-serializer-esbuild-27397be9-9b6f-4131-9d0c-fdbe0351f95f.json
  packages/metro-serializer-esbuild/README.md
Labels: feature: metro

#415 build(deps): bump metro to 0.66.2
  package.json
  yarn.lock
Labels: dependencies

#421 fix(metro-config): prevent Metro from watching VS generated files
  change/@rnx-kit-metro-config-b1235b5a-93e0-4806-9e1b-ad9137af82b7.json
  packages/metro-config/src/index.js
  packages/metro-config/test/index.test.js
Labels: feature: metro

#422 fix(metro-service): support Metro <0.63
  change/@rnx-kit-metro-service-07d44a96-bde3-4f8b-89cc-4beb2ec4adbf.json
  packages/metro-service/src/config.ts
Labels: feature: metro

#364 feat: Jest resolver that supports out-of-tree platforms
  .github/labeler.yml
  README.md
  change/@rnx-kit-jest-resolver-a36a2c52-35f7-4a32-bdea-00585bbbb6b1.json
  packages/jest-resolver/README.md
  packages/jest-resolver/babel.config.js
  packages/jest-resolver/just.config.js
  packages/jest-resolver/package.json
  packages/jest-resolver/src/index.ts
  packages/jest-resolver/test/__fixtures__/multi-platform/index.js
  packages/jest-resolver/test/__fixtures__/multi-platform/package.json
  packages/jest-resolver/test/__fixtures__/multi-platform/react-native.config.js
  packages/jest-resolver/test/__fixtures__/project-with-config/package.json
  packages/jest-resolver/test/__fixtures__/project-with-config/react-native.config.js
  packages/jest-resolver/test/__fixtures__/project-with-override/package.json
  packages/jest-resolver/test/__fixtures__/project-with-override/react-native.config.js
  packages/jest-resolver/test/__fixtures__/react-native-macos/index.js
  packages/jest-resolver/test/__fixtures__/react-native-macos/package.json
  packages/jest-resolver/test/__fixtures__/react-native-macos/react-native.config.js
  packages/jest-resolver/test/__fixtures__/react-native-windows/index.js
  packages/jest-resolver/test/__fixtures__/react-native-windows/package.json
  packages/jest-resolver/test/__fixtures__/react-native-windows/react-native.config.js
  packages/jest-resolver/test/index.test.ts
  packages/jest-resolver/tsconfig.json
  scripts/rnx-dep-check.js
  yarn.lock
Labels: feature: jest

#427 fix(dep-check): add 'core' as an alias for react-native
  change/@rnx-kit-config-ea87ee6f-bc5a-4667-bd6b-1091000a5f9a.json
  change/@rnx-kit-dep-check-e5dc24c5-8022-402b-a77c-d57df42f279c.json
  packages/config/src/kitConfig.ts
  packages/dep-check/README.md
  packages/dep-check/scripts/update-readme.js
  packages/dep-check/src/profiles/profile-0.61.ts
  packages/dep-check/src/profiles/profile-0.62.ts
  packages/dep-check/src/profiles/profile-0.63.ts
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/test/capabilities.test.ts
  packages/dep-check/test/initialize.test.ts
  packages/dep-check/test/profiles.test.ts
Labels: feature: cli, feature: dep-check

#437 chore: @rnx-kit/jest-resolver is superseded by @rnx-kit/jest-preset
  README.md
  packages/jest-resolver/CHANGELOG.json
  packages/jest-resolver/CHANGELOG.md
  packages/jest-resolver/README.md
  packages/jest-resolver/just.config.js
  packages/jest-resolver/package.json
  packages/jest-resolver/src/index.ts
  packages/jest-resolver/tsconfig.json
Labels: feature: jest

#443 fix(third-party-notices): add JSON output format
  change/@rnx-kit-cli-56fecb7e-d4ad-46af-a8ff-1d724c5e5d1b.json
  change/@rnx-kit-third-party-notices-2576042b-fc6d-49f0-94ed-2dbb1eeb2a53.json
  packages/cli/react-native.config.js
  packages/cli/src/write-third-party-notices.ts
  packages/third-party-notices/package.json
  packages/third-party-notices/src/cli.ts
  packages/third-party-notices/src/index.ts
  packages/third-party-notices/src/output/json.ts
  packages/third-party-notices/src/output/text.ts
  packages/third-party-notices/src/types.ts
  packages/third-party-notices/src/write-third-party-notices.ts
  packages/third-party-notices/test/__snapshots__/licence.test.ts.snap
  packages/third-party-notices/test/licence.test.ts
  packages/third-party-notices/test/parseModule.test.ts
  packages/third-party-notices/test/pathHelper.ts
  packages/third-party-notices/test/sourceMap.test.ts
  scripts/rnx-dep-check.js
Labels: feature: cli, feature: third party notices
