Repository microsoft/rnx-kit, pull requests merged in 2021-08, with the labels that each got.

#438 fix(cli): jest-cli allows passing argv directly to run()
  change/@rnx-kit-cli-b1334c61-8350-45d0-9e54-85fd51983527.json
  packages/cli/src/dep-check.ts
  packages/cli/src/test.ts
Labels: feature: cli

#449 chore: fix publishing
  change/@rnx-kit-third-party-notices-be194906-4245-4d18-8946-9d3f6ec71b83.json
  packages/third-party-notices/package.json
Labels: feature: third party notices

#459 fix(jest-preset): fix incorrect peer dependencies
  change/@rnx-kit-jest-preset-b0c884bf-6f3f-442e-81fb-351968c499d3.json
  packages/jest-preset/package.json
Labels: feature: jest

#444 Update Metro and TypeScript service packages
  change/@rnx-kit-cli-0e5b19c3-2494-4ae1-be44-97a8d1ad4731.json
  change/@rnx-kit-metro-service-cadcf1a8-89fc-4405-b3c3-c0110dfbc8fa.json
  change/@rnx-kit-typescript-service-fc0f0b03-9087-47c9-9976-f28af4b83c3e.json
  packages/@types/metro-config/configTypes.d.ts
  packages/@types/metro-core/Terminal.d.ts
  packages/@types/metro-core/index.d.ts
  packages/@types/metro-core/package.json
  packages/@types/metro/index.d.ts
  packages/@types/metro/package.json
  packages/@types/metro/src/lib/TerminalReporter.d.ts
  packages/cli/README.md
  packages/cli/react-native.config.js
  packages/cli/src/bundle.ts
  packages/metro-service/package.json
  packages/metro-service/src/bundle.ts
  packages/metro-service/src/config.ts
  packages/metro-service/src/index.ts
  packages/metro-service/src/terminal.ts
  packages/typescript-service/src/diagnostics.ts
  packages/typescript-service/src/service.ts
  yarn.lock
Labels: feature: metro, feature: cli

#445 Refactor config package and add bundle-definition tests
  .github/workflows/pr.yml
  change/@rnx-kit-config-c205b2f8-28ab-46d6-bc01-edeb4c226034.json
  packages/config/package.json
  packages/config/src/bundleConfig.ts
  packages/config/src/index.ts
  packages/config/test/__fixtures__/in-config-js/package.json
  packages/config/test/__fixtures__/in-config-js/rnx-kit.config.js
  packages/config/test/__fixtures__/in-package/package.json
  packages/config/test/__fixtures__/not-present/package.json
  packages/config/test/__snapshots__/getKitConfig.test.ts.snap
  packages/config/test/getBundleDefinition.test.ts
  packages/config/test/getKitCapabilities.test.ts
  packages/config/test/getKitConfig.test.ts
Labels: feature: cli

#446 Refactoring and fixes in rnx-kit/cli
  change/@rnx-kit-cli-64ad92fc-2d65-4966-98c6-a5aadeb1bac8.json
  packages/cli/package.json
  packages/cli/src/bundle.ts
  packages/cli/src/kit-config.ts
  packages/cli/src/metro-config.ts
  packages/cli/src/types.ts
  yarn.lock
Labels: feature: cli

#447 Add `rnx-start` command for running a Metro bundle server
  change/@rnx-kit-cli-2f375afd-f33b-4739-9224-27f2683a9420.json
  change/@rnx-kit-config-0b90d557-6575-49ec-b45b-52fccc9b43bc.json
  packages/cli/README.md
  packages/cli/package.json
  packages/cli/react-native.config.js
  packages/cli/src/index.ts
  packages/cli/src/kit-config.ts
  packages/cli/src/start.ts
  packages/config/src/getServerConfig.ts
  packages/config/src/index.ts
  packages/config/src/kitConfig.ts
  packages/config/src/serverConfig.ts
  packages/config/test/getServerConfig.test.ts
  packages/test-app/package.json
Labels: feature: cli

#486 fix(dep-check): correct hermes-engine version for react-native 0.65
  change/@rnx-kit-dep-check-7b97c5c6-7635-4b3e-a75a-af98e931b862.json
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.65.ts
Labels: feature: dep-check

#488 ci: fix publishing pipeline
  change/@rnx-kit-cli-76e161f1-2474-4cbf-9156-9ddd44d42f68.json
  packages/cli/package.json
Labels: feature: cli

#455 feat(dep-check): add command for setting react-native version
  .github/workflows/pr.yml
  change/@rnx-kit-cli-1712cb66-dab7-46a0-93cd-6715820f985d.json
  change/@rnx-kit-dep-check-0148d857-b99f-4666-83d2-b33ff70947fa.json
  packages/cli/react-native.config.js
  packages/cli/src/dep-check.ts
  packages/cli/src/index.ts
  packages/dep-check/README.md
  packages/dep-check/package.json
  packages/dep-check/src/capabilities.ts
  packages/dep-check/src/check.ts
  packages/dep-check/src/cli.ts
  packages/dep-check/src/dependencies.ts
  packages/dep-check/src/helpers.ts
  packages/dep-check/src/initialize.ts
  packages/dep-check/src/json.ts
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/setVersion.ts
  packages/dep-check/src/types.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/dependencies.test.ts
  packages/dep-check/test/setVersion.test.ts
  yarn.lock
Labels: feature: dep-check, feature: cli

#496 ci: test on two latest LTS versions of Node
  .github/workflows/pr.yml
Labels: chore

#497 fix(cli): fix `rnx-test` failing under Jest 27
  change/@rnx-kit-cli-8eb8a913-8e62-4b7b-afb6-daf7d3d78581.json
  packages/cli/src/test.ts
Labels: feature: cli

#493 feat(dep-check): allow looser requirements checks
  change/@rnx-kit-cli-cb66ae4a-3761-4f96-93a5-0fbc3dc318bd.json
  change/@rnx-kit-dep-check-e7596695-0308-4076-b057-6774cc4eea66.json
  packages/cli/src/dep-check.ts
  packages/dep-check/src/check.ts
  packages/dep-check/src/cli.ts
  packages/dep-check/src/dependencies.ts
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/setVersion.ts
  packages/dep-check/src/types.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/__fixtures__/no-profile-satisfying-deps/node_modules/conan/package.json
  packages/dep-check/test/__fixtures__/no-profile-satisfying-deps/node_modules/react-native/package.json
  packages/dep-check/test/__fixtures__/no-profile-satisfying-deps/node_modules/react/package.json
  packages/dep-check/test/__fixtures__/no-profile-satisfying-deps/node_modules/t-800/package.json
  packages/dep-check/test/__fixtures__/no-profile-satisfying-deps/package.json
  packages/dep-check/test/check.app.test.ts
  packages/dep-check/test/check.test.ts
  packages/dep-check/test/dependencies.test.ts
  packages/dep-check/test/vigilant.test.ts
Labels: feature: dep-check, feature: cli

#500 fix(dep-check): fix error messages accumulating when gathering requirements
  change/@rnx-kit-dep-check-8db71726-c18c-4bdf-a5ca-f2c173a3c3ff.json
  packages/dep-check/src/dependencies.ts
Labels: feature: dep-check

#504 fix(metro-serializer-esbuild): fix compatibility issues with Hermes
  change/@rnx-kit-cli-10e488e5-469f-4ce9-abd3-d9aaad86a7f0.json
  change/@rnx-kit-metro-serializer-esbuild-f4974997-f7bb-42b5-a751-246237c38606.json
  packages/cli/src/kit-config.ts
  packages/metro-serializer-esbuild/src/index.ts
Labels: feature: metro, feature: cli

#506 fix(cli): `--experimental-tree-shake` shouldn't need extra config
  change/@rnx-kit-cli-a4516ce5-1fdd-43ff-bb0a-415a87a8a36f.json
  packages/cli/src/metro-config.ts
  packages/test-app/metro+esbuild.config.js
  packages/test-app/package.json
Labels: feature: cli

#507 CLI refactoring for testability - part 1
  change/@rnx-kit-cli-a0f535a0-cbfb-479b-8589-2a4d3dfdad16.json
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/serve/kit-config.ts
  packages/cli/src/start.ts
Labels: feature: cli

#499 TypeScript module resolution using Metro's Graph
  change/@rnx-kit-cli-d6416d2b-ff29-417a-a249-695459722300.json
  change/@rnx-kit-typescript-service-26695ba8-30b2-4948-9837-11c6f5eeb988.json
  packages/cli/package.json
  packages/cli/src/bundle.ts
  packages/cli/src/metro-config.ts
  packages/cli/src/metro-ts-resolver.ts
  packages/cli/src/start.ts
  packages/test-app/src/App.native.tsx
  packages/test-app/src/index.ts
  packages/typescript-service/README.md
  packages/typescript-service/package.json
  packages/typescript-service/src/cache.ts
  packages/typescript-service/src/project.ts
  packages/typescript-service/src/resolve.ts
  packages/typescript-service/src/service.ts
  packages/typescript-service/src/snapshot.ts
  packages/typescript-service/src/util.ts
  packages/typescript-service/test/cache.test.ts
  packages/typescript-service/test/project.test.ts
  packages/typescript-service/test/service.test.ts
  packages/typescript-service/test/util.test.ts
Labels: feature: metro, feature: cli

#508 CLI refactoring for testability - part 2
  change/@rnx-kit-cli-f511b3d8-abc2-4038-a878-150a40b7056b.json
  packages/cli/package.json
  packages/cli/test/bundle/__mocks__/@rnx-kit/config.js
  packages/cli/test/bundle/kit-config.test.ts
Labels: feature: cli

#509 CLI refactoring for testability - part 3
  change/@rnx-kit-cli-742e4c87-56a4-40a3-a909-a51576cb3d98.json
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/bundle/overrides.ts
  packages/cli/test/bundle/kit-config.test.ts
  packages/cli/test/bundle/overrides.test.ts
Labels: feature: cli

#510 chore: post more useful PR comments
  .github/workflows/pr.yml
  package.json
  yarn.lock
Labels: chore

#511 chore: @rnx-kit/metro-config supports multiple versions of react-native
  scripts/rnx-dep-check.js
Labels: chore

#519 Fix bundling
  change/@rnx-kit-cli-3dd6b12c-b22d-4546-b544-0c24c7b2e67d.json
  packages/cli/src/bundle.ts
Labels: feature: cli

#512 docs(dep-check): add some words on how to add capabilities
  change/@rnx-kit-dep-check-c009bedd-8fc8-4bf0-9085-0afa3070450c.json
  packages/dep-check/README.md
Labels: documentation, feature: dep-check

#520 Fix type-checking in Metro for windows dev machines
  change/@rnx-kit-cli-3e870134-72cb-450a-8fd7-be3dcb158025.json
  packages/cli/src/metro-ts-resolver.ts
Labels: feature: cli

#524 chore(jest-preset): suppress TypeScript error with CLI 6.x
  change/@rnx-kit-jest-preset-f6f5b9d5-7745-49f3-9436-57c1cfec6afb.json
  packages/jest-preset/src/index.js
Labels: feature: jest

#522 CLI refactoring for testability - part 4
  change/@rnx-kit-cli-61894ff0-35fa-4ab8-9c5f-bab96b87fd4d.json
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/bundle/overrides.ts
  packages/cli/src/bundle/types.ts
  packages/cli/test/bundle/kit-config.test.ts
  packages/cli/test/bundle/overrides.test.ts
Labels: feature: cli

#525 CLI refactoring for testability - part 5
  change/@rnx-kit-cli-d6b7d08a-a86f-4ddd-9e08-2d4f68e892a5.json
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/bundle/overrides.ts
  packages/cli/test/bundle/kit-config.test.ts
  packages/cli/test/bundle/overrides.test.ts
Labels: feature: cli

#527 chore: use GitHub's form schema for bug reports
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: chore

#523 chore: bump react-native to 0.65
  change/@rnx-kit-cli-1499589c-f08c-4a9e-ad93-9adb36236b1b.json
  change/@rnx-kit-metro-service-cfafe9cc-3afd-44bb-b515-4d4e430412cb.json
  package.json
  packages/cli/package.json
  packages/metro-service/package.json
  packages/test-app/ios/Podfile
  packages/test-app/ios/Podfile.lock
  packages/test-app/package.json
  packages/test-app/react-native.config.js
  packages/test-app/src/App.native.tsx
  scripts/rnx-dep-check.js
  yarn.lock
Labels: feature: metro, feature: cli

#537 CLI refactoring for testability - part 6
  change/@rnx-kit-cli-7389a7d3-f229-4fd4-ac91-44fbb1573db8.json
  change/@rnx-kit-tools-language-c04915c0-999e-4199-81b3-8e1b31eac479.json
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/types.ts
  packages/tools-language/src/properties.ts
  packages/tools-language/test/properties.test.ts
Labels: feature: cli

#541 fix(cli): make 'cli-server-api' optional
  change/@rnx-kit-cli-389ac13f-58f0-467b-bfc0-f6297ff9a0a4.json
  packages/cli/package.json
  packages/cli/src/start.ts
Labels: feature: cli

#538 CLI refactoring for testability - part 7
  change/@rnx-kit-cli-83f4574d-512d-4e75-a8b8-876ed9f83062.json
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/metro.ts
Labels: feature: cli

#539 CLI refactoring for testability - part 8
  change/@rnx-kit-cli-98d3efd0-03b7-4c50-9237-7a23f563a830.json
  change/@rnx-kit-tools-node-547522b5-c76f-40bf-a6ab-881f70f94408.json
  packages/cli/src/bundle/metro.ts
  packages/tools-node/src/fs.ts
  packages/tools-node/test/fs.test.ts
  packages/tools-node/test/package.test.ts
Labels: feature: cli

#540 CLI refactoring for testability - part 9
  change/@rnx-kit-cli-b4d51ec9-8912-4510-9cc5-5129ebe24277.json
  packages/cli/src/bundle/metro.ts
  packages/cli/test/bundle/metro.test.ts
Labels: feature: cli

#546 fix(metro-config): fix assets not resolving correctly in monorepos
  change/@rnx-kit-metro-config-cbfc2e82-2458-4043-b087-773881b1fa37.json
  change/@rnx-kit-third-party-notices-3f529249-8ae6-4f51-9fb5-d1b8989c57e2.json
  packages/metro-config/package.json
  packages/metro-config/src/assetPluginForMonorepos.js
  packages/metro-config/src/index.js
  packages/metro-config/test/assetPluginForMonorepos.test.js
  packages/metro-config/test/index.test.js
  packages/third-party-notices/test/normalizePaths.test.ts
  yarn.lock
Labels: feature: metro, feature: third party notices

#550 test(metro-config): converted tests to proper TypeScript
  change/@rnx-kit-metro-config-674db0fb-13c9-4381-8e08-b66ffcb963c5.json
  packages/metro-config/package.json
  packages/metro-config/test/assetPluginForMonorepos.test.ts
  packages/metro-config/test/index.test.ts
Labels: feature: metro

#553 chore: upgrade to TypeScript 4.4
  change/@rnx-kit-dep-check-dea7cba6-9612-4b74-bbdd-2809998e7f41.json
  change/@rnx-kit-metro-service-a6b14e3e-747c-4fc5-a27c-43a5cbc4db2d.json
  change/@rnx-kit-tools-language-c9cb8d86-0bf6-4f21-9b57-64608b0d6fe5.json
  packages/dep-check/src/cli.ts
  packages/dep-check/src/profiles.ts
  packages/metro-service/src/terminal.ts
  packages/tools-language/README.md
  packages/tools-language/src/function.ts
  packages/tools-language/src/properties.ts
  packages/tools-language/test/properties.test.ts
  scripts/src/tasks/checkPublishingTask.ts
  scripts/src/tasks/depcheck.js
  yarn.lock
Labels: feature: metro, feature: dep-check, chore

#557 fix(config): warn when `reactNativeDevVersion` is set and `kitType` is `app`
  change/@rnx-kit-config-e9e5faea-722c-453f-86ed-7990e30b601a.json
  packages/config/package.json
  packages/config/src/getKitCapabilities.ts
  packages/config/test/getKitCapabilities.test.ts
Labels: feature: cli
