Repository microsoft/rnx-kit, pull requests merged in 2021-11, with the labels that each got.

#786 chore(metro-swc-worker): bump @rnx-kit/metro-serializer-esbuild to avoid dupes
  change/@rnx-kit-metro-swc-worker-b82ead06-11cd-4c53-a914-c35b64ff5cb2.json
  packages/metro-swc-worker/package.json
Labels: feature: metro

#783 Normalize package.json properties - main, types
  change/@rnx-kit-bundle-diff-2f5d5205-2db7-421f-a988-6fb714c02a52.json
  change/@rnx-kit-cli-a365cd92-d1bf-4dc3-a864-f60be5ed727a.json
  change/@rnx-kit-config-75f841ac-4ad9-4352-ad32-cf308063feac.json
  change/@rnx-kit-console-2e3de950-0e9c-4b73-a4e2-0b3f729155b4.json
  change/@rnx-kit-esbuild-plugin-import-path-remapper-3a42a308-cf78-446e-bb55-9882299d21ae.json
  change/@rnx-kit-metro-plugin-cyclic-dependencies-detector-4c77c378-5ba3-46a9-b2c1-0f9226811602.json
  change/@rnx-kit-metro-plugin-duplicates-checker-4ba9b71e-8a0b-437c-bad2-e278b6f36fdd.json
  change/@rnx-kit-metro-plugin-typescript-validation-59cdd394-5e69-44d7-9b15-75a1968c2bbd.json
  change/@rnx-kit-metro-resolver-symlinks-e2ee751d-4905-4e5f-ad9b-b29e0f95bd22.json
  change/@rnx-kit-metro-serializer-b807efb4-7f2e-4f16-b8b1-fe3c7a7c148b.json
  change/@rnx-kit-metro-serializer-esbuild-0d5ded0c-6541-4f8d-8e1a-8df6bac5374d.json
  change/@rnx-kit-metro-service-493fd946-6a90-4d5b-88f0-94118ca27176.json
  change/@rnx-kit-third-party-notices-10a5e556-9a07-4c9f-8c2b-f0c0a7150b56.json
  change/@rnx-kit-tools-language-ead613c5-22dc-49c7-87d5-9bbc0e20a1aa.json
  change/@rnx-kit-tools-node-93518f6b-4fd0-42ed-9456-3cc87904396e.json
  change/@rnx-kit-tools-react-native-578a5806-d65e-480d-80dd-dddf61ae3ced.json
  change/@rnx-kit-typescript-service-95b7a8e5-fbe7-4248-a7f5-f31d31056e90.json
  packages/bundle-diff/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/console/package.json
  packages/esbuild-plugin-import-path-remapper/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-typescript-validation/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer/package.json
  packages/metro-service/package.json
  packages/third-party-notices/package.json
  packages/tools-language/package.json
  packages/tools-node/package.json
  packages/tools-react-native/package.json
  packages/typescript-service/package.json
Labels: feature: metro, feature: third party notices, feature: cli

#812 fix(config): `projectRoot` default value overrides the value from Metro config
  change/@rnx-kit-cli-d03d7e0b-daca-4343-ad38-53fe5c88851c.json
  change/@rnx-kit-config-fa9c8389-7dff-455f-9324-4782d9897632.json
  packages/cli/src/start.ts
  packages/config/src/getServerConfig.ts
  packages/config/src/serverConfig.ts
  packages/config/test/getServerConfig.test.ts
  packages/test-app/metro.config.js
  packages/test-app/package.json
Labels: feature: cli

#815 Switch to published @types packages for Metro
  change/@rnx-kit-cli-d0503108-fa40-43fd-bc48-0f4eb3011bb1.json
  change/@rnx-kit-config-d3bd189f-197f-498a-985f-f220dc9d64bb.json
  change/@rnx-kit-metro-config-3a620ed8-35a1-4cfb-a808-4f67c30f8b7d.json
  change/@rnx-kit-metro-plugin-cyclic-dependencies-detector-e84f9a6b-daa7-401e-8b4b-a8613d9176e0.json
  change/@rnx-kit-metro-plugin-duplicates-checker-971d7975-ac3a-4121-bbb1-b0ac17c3cdc3.json
  change/@rnx-kit-metro-plugin-typescript-validation-e3ec6b17-5f3a-422e-aa8a-3e0d0004e8da.json
  change/@rnx-kit-metro-resolver-symlinks-add23f37-dd38-4941-8a8a-43acbb9c3b8c.json
  change/@rnx-kit-metro-serializer-b21123b8-6b3a-4d12-b371-98ca398b871f.json
  change/@rnx-kit-metro-serializer-esbuild-755f8b0d-0de6-4dbf-a148-289bc48f85f7.json
  change/@rnx-kit-metro-service-74ed5e1a-40cb-4ec1-9962-e87231dac8e0.json
  change/@rnx-kit-metro-swc-worker-59f7e39c-9084-4ef5-8bfd-7fe7df4c7556.json
  packages/@types/metro-babel-transformer/index.d.ts
  packages/@types/metro-babel-transformer/package.json
  packages/@types/metro-cache/index.d.ts
  packages/@types/metro-cache/package.json
  packages/@types/metro-cache/types.d.ts
  packages/@types/metro-config/configTypes.d.ts
  packages/@types/metro-config/index.d.ts
  packages/@types/metro-config/loadConfig.d.ts
  packages/@types/metro-config/package.json
  packages/@types/metro-core/Terminal.d.ts
  packages/@types/metro-core/index.d.ts
  packages/@types/metro-core/package.json
  packages/@types/metro-resolver/index.d.ts
  packages/@types/metro-resolver/package.json
  packages/@types/metro-resolver/types.d.ts
  packages/@types/metro-source-map/index.d.ts
  packages/@types/metro-source-map/package.json
  packages/@types/metro-transform-worker/index.d.ts
  packages/@types/metro-transform-worker/package.json
  packages/@types/metro/Asset.d.ts
  packages/@types/metro/DeltaBundler/types.d.ts
  packages/@types/metro/ModuleGraph/types.d.ts
  packages/@types/metro/ModuleGraph/worker/collectDependencies.d.ts
  packages/@types/metro/Server.d.ts
  packages/@types/metro/index.d.ts
  packages/@types/metro/lib/reporting.d.ts
  packages/@types/metro/package.json
  packages/@types/metro/shared/types.d.ts
  packages/@types/metro/src/Server.d.ts
  packages/@types/metro/src/lib/TerminalReporter.d.ts
  packages/@types/metro/src/shared/output/bundle.d.ts
  packages/cli/package.json
  packages/config/package.json
  packages/metro-config/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-typescript-validation/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer/package.json
  packages/metro-service/package.json
  packages/metro-swc-worker/package.json
  yarn.lock
Labels: feature: metro, feature: cli

#818 chore(config): add missing repo information
  change/@rnx-kit-config-0632782a-c34b-409d-b5d6-3b5d6d106661.json
  packages/config/package.json
Labels: feature: cli

#831 Transition to the new Metro TypeScript resolver
  README.md
  change/@rnx-kit-cli-d90b04c3-c105-4ec8-be5f-471b7756a45c.json
  change/@rnx-kit-typescript-react-native-compiler-f14f16a9-e8ab-4ac3-a8ab-2e8ad8795286.json
  change/@rnx-kit-typescript-react-native-resolver-7d122aba-6ab1-4fbd-828e-73c991ce481c.json
  change/@rnx-kit-typescript-service-65938fb8-d9c1-4bc6-94ad-4eb6dd9ea338.json
  packages/cli/package.json
  packages/cli/src/metro-config.ts
  packages/cli/src/metro-ts-resolver.ts
  packages/metro-plugin-typescript-validation/CHANGELOG.json
  packages/metro-plugin-typescript-validation/CHANGELOG.md
  packages/metro-plugin-typescript-validation/README.md
  packages/metro-plugin-typescript-validation/just.config.js
  packages/metro-plugin-typescript-validation/package.json
  packages/metro-plugin-typescript-validation/src/index.ts
  packages/metro-plugin-typescript-validation/src/plugin.ts
  packages/metro-plugin-typescript-validation/test/__snapshots__/plugin.test.ts.snap
  packages/metro-plugin-typescript-validation/test/plugin.test.ts
  packages/metro-plugin-typescript-validation/tsconfig.json
  packages/test-app/package.json
  packages/typescript-react-native-compiler/src/program.ts
  packages/typescript-react-native-resolver/src/host.ts
  packages/typescript-react-native-resolver/src/index.ts
  packages/typescript-react-native-resolver/test/host.test.ts
  packages/typescript-service/README.md
  packages/typescript-service/package.json
  packages/typescript-service/src/index.ts
  packages/typescript-service/src/project.ts
  packages/typescript-service/src/resolve.ts
  packages/typescript-service/src/service.ts
  packages/typescript-service/test/project.test.ts
  packages/typescript-service/test/service.test.ts
  yarn.lock
Labels: feature: metro, feature: cli

#832 [chore] Add reference to the RNEU talk in the readme
  change/@rnx-kit-dep-check-6313c1f5-3ea0-4770-9ec5-f5adc5c2651b.json
  packages/dep-check/README.md
Labels: documentation, feature: dep-check

#800 chore: add a fake package to use as template for creating new packages
  CONTRIBUTING.md
  change/@rnx-kit-template-9d95aaf4-b824-4537-bfff-0c8047ee2d89.json
  package.json
  packages/template/README.md
  packages/template/just.config.js
  packages/template/package.json
  packages/template/src/index.ts
  packages/template/src/types.ts
  packages/template/test/index.test.ts
  packages/template/tsconfig.json
  scripts/new-package.js
  scripts/package.json
  yarn.lock
Labels: enhancement, chore

#838 [fix] remove file as wanted by CI
  change/@rnx-kit-template-9d95aaf4-b824-4537-bfff-0c8047ee2d89.json
Labels: chore

#837 fix(dep-check): bundle dep-check to avoid conflicting dependencies
  change/@rnx-kit-dep-check-952a4a27-af92-49d4-b107-f5e5406d978c.json
  packages/dep-check/package.json
  packages/dep-check/src/cli.ts
  scripts/package.json
  scripts/src/configureJust.ts
  scripts/src/tasks/bundle.ts
Labels: feature: dep-check

#841 feat: add a new package: rn-changelog-generator
  .github/workflows/pr.yml
  README.md
  change/@rnx-kit-rn-changelog-generator-667f9b5c-6677-4f99-b0bc-4bb00c42f06f.json
  packages/rn-changelog-generator/README.md
  packages/rn-changelog-generator/just.config.js
  packages/rn-changelog-generator/package.json
  packages/rn-changelog-generator/src/changelog-generator.ts
  packages/rn-changelog-generator/src/index.ts
  packages/rn-changelog-generator/test/__fixtures__/commits-v0.60.5-page-1.json
  packages/rn-changelog-generator/test/__fixtures__/commits-v0.60.5-page-2.json
  packages/rn-changelog-generator/test/__snapshots__/changelog-generator.test.ts.snap
  packages/rn-changelog-generator/test/changelog-generator.test.ts
  packages/rn-changelog-generator/tsconfig.json
  scripts/src/tasks/bundle.ts
  yarn.lock
Labels: enhancement

#845 fix(dep-check): bump clipboard for react-native update fixes
  change/@rnx-kit-dep-check-278d5172-1772-4bbe-8cce-270e3d5eb5ad.json
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
  packages/dep-check/test/__snapshots__/vigilant.test.ts.snap
Labels: feature: dep-check

#847 fix(dep-check): bump netinfo to fix autolinking on Windows
  change/@rnx-kit-dep-check-ad3d3e99-8672-4b82-b02a-d27acaba90e6.json
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.64.ts
  packages/dep-check/src/profiles/profile-0.65.ts
Labels: feature: dep-check

#859 ci: [skip ci] is now supported by GitHub Actions
  .github/workflows/build.yml
  package.json
Labels: chore

#860 chore: disable install scripts
  .yarnrc
  package.json
  scripts/just.config.js
  scripts/package.json
  scripts/rnx-dep-check.js
  scripts/src/configureJust.js
  scripts/src/index.js
  scripts/src/index.ts
  scripts/src/tasks/build.js
  scripts/src/tasks/bundle.js
  scripts/src/tasks/checkPublishingTask.js
  scripts/src/tasks/clean.js
  scripts/src/tasks/depcheck.js
  scripts/src/tasks/enforceMidgardYarn.js
  scripts/src/tasks/eslint.js
  scripts/src/tasks/jest.js
  scripts/src/tasks/prettier.js
  scripts/src/tasks/ts.js
  scripts/src/tasks/updateApiReadme.js
  scripts/tsconfig.json
Labels: chore

#873 fix(eslint/no-export-all): fix dupes sometimes showing up
  .github/labeler.yml
  change/@rnx-kit-eslint-plugin-e0243bf2-724f-47a5-a039-d474cfe6ff53.json
  packages/eslint-plugin/src/rules/no-export-all.js
Labels: feature: eslint

#872 Minor fixes to TypeScript utility packages
  change/@rnx-kit-typescript-react-native-resolver-c20ca636-2896-415e-b7a8-983df9bc24c4.json
  change/@rnx-kit-typescript-service-dc656710-e2b1-484f-8862-8a417a9841d2.json
  packages/typescript-react-native-resolver/README.md
  packages/typescript-react-native-resolver/src/host.ts
  packages/typescript-react-native-resolver/src/log.ts
  packages/typescript-react-native-resolver/test/host.test.ts
  packages/typescript-service/src/project.ts
Labels: feature: metro

#874 fix(eslint/no-export-all): add support for namespaces
  change/@rnx-kit-eslint-plugin-4e1f10a5-0c1e-41e1-928a-d051ddb9eab2.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/no-export-all.js
  packages/eslint-plugin/test/no-export-all.test.ts
Labels: feature: eslint

#897 fix(eslint/no-export-all): `const` enums should be exported as types
  change/@rnx-kit-eslint-plugin-2c6ac533-ac8c-4d07-9f0c-5acd82e04525.json
  packages/eslint-plugin/src/rules/no-export-all.js
  packages/eslint-plugin/test/no-export-all.test.ts
Labels: feature: eslint

#904 fix(eslint-plugin): support Node 12
  change/@rnx-kit-eslint-plugin-a90fc2b2-80ae-4ef7-a180-c8b0a5360a88.json
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/rules/no-export-all.js
Labels: feature: eslint

#880 chore: migrate from Beachball to Changesets
  .changeset/README.md
  .changeset/config.json
  .changeset/thick-turkeys-hang.md
  .github/labeler.yml
  .github/workflows/build.yml
  .github/workflows/pr.yml
  CONTRIBUTING.md
  package.json
  packages/babel-plugin-import-path-remapper/CHANGELOG.json
  packages/babel-preset-metro-react-native/CHANGELOG.json
  packages/bundle-diff/CHANGELOG.json
  packages/cli/CHANGELOG.json
  packages/config/CHANGELOG.json
  packages/console/CHANGELOG.json
  packages/dep-check/CHANGELOG.json
  packages/esbuild-plugin-import-path-remapper/CHANGELOG.json
  packages/eslint-config/CHANGELOG.json
  packages/eslint-plugin/CHANGELOG.json
  packages/golang/CHANGELOG.json
  packages/jest-preset/CHANGELOG.json
  packages/metro-config/CHANGELOG.json
  packages/metro-plugin-cyclic-dependencies-detector/CHANGELOG.json
  packages/metro-plugin-duplicates-checker/CHANGELOG.json
  packages/metro-resolver-symlinks/CHANGELOG.json
  packages/metro-serializer-esbuild/CHANGELOG.json
  packages/metro-serializer/CHANGELOG.json
  packages/metro-service/CHANGELOG.json
  packages/metro-swc-worker/CHANGELOG.json
  packages/react-native-test-app-msal/CHANGELOG.json
  packages/rn-changelog-generator/CHANGELOG.json
  packages/template/README.md
  packages/test-app/CHANGELOG.json
  packages/third-party-notices/CHANGELOG.json
  packages/tools-language/CHANGELOG.json
  packages/tools-node/CHANGELOG.json
  packages/tools-react-native/CHANGELOG.json
  packages/typescript-react-native-compiler/CHANGELOG.json
  packages/typescript-react-native-resolver/CHANGELOG.json
  packages/typescript-service/CHANGELOG.json
  scripts/CHANGELOG.json
  yarn.lock
Labels: feature: metro, feature: dep-check, chore, feature: third party notices, feature: cli, feature: jest, feature: eslint

#913 ci: bump changesets/action to 1.0
  .github/workflows/build.yml
Labels: chore
