Repository microsoft/rnx-kit, pull requests merged in 2022-02, with the labels that each got.

#1019 docs(eslint-plugin): add more details in README
  .changeset/friendly-papayas-smile.md
  packages/eslint-plugin/README.md
  yarn.lock
Labels: feature: eslint

#1021 fix(cli): fix `watchman::CommandValidationError`
  .changeset/strong-moons-tease.md
  packages/cli/react-native.config.js
  packages/cli/src/clean.ts
Labels: feature: cli

#1020 chore: bump @babel/core to 7.16.12
  .changeset/hip-seals-help.md
  scripts/src/commands/depcheck.js
  yarn.lock
Labels: chore

#1017 feat(dep-check): allow declaring capabilities at root level
  .changeset/friendly-hornets-hug.md
  packages/dep-check/README.md
  packages/dep-check/src/index.ts
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/types.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/__fixtures__/custom-profiles/root-level-profiles.js
  packages/dep-check/test/__fixtures__/custom-profiles/valid-profiles.js
  packages/dep-check/test/__snapshots__/profiles.test.ts.snap
  packages/dep-check/test/profiles.test.ts
Labels: feature: dep-check

#1025 fix(cli): integrate `ora` to make output of `rnx-clean` prettier
  .changeset/blue-birds-rhyme.md
  .changeset/hungry-ladybugs-act.md
  .changeset/rich-parents-boil.md
  .changeset/stale-teachers-argue.md
  packages/cli/package.json
  packages/cli/src/clean.ts
  yarn.lock
Labels: feature: cli

#1044 fix(dep-check): use react-native-test-app 1.0 from react-native 0.66+
  .changeset/unlucky-jokes-lie.md
  .github/workflows/pr.yml
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.66.ts
  packages/test-app/android/build.gradle
  packages/test-app/android/gradle.properties
  packages/test-app/android/gradle/wrapper/gradle-wrapper.properties
  packages/test-app/android/gradlew
  packages/test-app/android/gradlew.bat
  packages/test-app/android/settings.gradle
  packages/test-app/ios/Podfile.lock
  packages/test-app/macos/Podfile.lock
  packages/test-app/package.json
  yarn.lock
Labels: feature: dep-check, chore

#1058 ci: correctly increase JVM heap space to fix Gradle oom-ing
  .changeset/swift-items-rhyme.md
  .github/workflows/pr.yml
  packages/test-app/android/gradle.properties
Labels: chore

#1062 fix(cli): make cache integrity verification optional
  .changeset/heavy-donkeys-switch.md
  packages/cli/react-native.config.js
  packages/cli/src/clean.ts
Labels: feature: cli

#1064 fix(dep-check): don't fail on profiles with only common deps
  .changeset/weak-humans-sleep.md
  packages/dep-check/src/profiles.ts
Labels: feature: dep-check

#1065 chore: bump @types/node to 16.0
  .changeset/large-swans-jog.md
  .github/workflows/pr.yml
  packages/config/package.json
  packages/console/package.json
  packages/golang/package.json
  packages/jest-preset/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-service/package.json
  packages/tools-language/package.json
  packages/tools-node/package.json
  packages/tools-react-native/package.json
  packages/typescript-react-native-compiler/package.json
  packages/typescript-react-native-resolver/package.json
  packages/typescript-service/package.json
  scripts/rnx-dep-check.js
  yarn.lock
Labels: feature: metro, chore, feature: cli, feature: jest

#1069 fix(dep-check): add profile for react-native 0.68
  .changeset/late-pumas-repeat.md
  packages/dep-check/README.md
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/profiles/profile-0.68.ts
  packages/dep-check/src/types.ts
  packages/dep-check/test/__snapshots__/profiles.test.ts.snap
  packages/dep-check/test/profiles.test.ts
Labels: feature: dep-check

#1070 chore(dep-check): update delta script to use pacote
  .changeset/slow-beds-rule.md
  packages/dep-check/package.json
  packages/dep-check/scripts/delta.js
  yarn.lock
Labels: feature: dep-check

#1088 fix(dep-check): also look for react-native under `devDependencies`
  .changeset/silver-flowers-joke.md
  packages/dep-check/src/capabilities.ts
  packages/dep-check/test/capabilities.test.ts
  packages/dep-check/test/profiles.test.ts
Labels: feature: dep-check

#1016 chore: enable @microsoft/sdl/required ESLint rules
  .changeset/popular-poems-marry.md
  package.json
  packages/bundle-diff/package.json
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  yarn.lock
Labels: chore, feature: eslint

#1089 fix(metro-serializer-esbuild): add `analyze` option
  .changeset/beige-cooks-appear.md
  packages/metro-serializer-esbuild/src/index.ts
Labels: feature: metro

#1107 fix(metro-config): ignore .tlog files to avoid crashing dev server
  .changeset/two-peas-carry.md
  packages/metro-config/src/index.js
Labels: feature: metro

#1111 fix: bump workspace-tools for improved perf
  .changeset/lucky-rats-grab.md
  package.json
  packages/dep-check/package.json
  packages/golang/package.json
  packages/metro-config/package.json
  packages/metro-config/test/__fixtures__/app-repo/package.json
  packages/metro-config/test/__fixtures__/app-repo/yarn.lock
  packages/metro-config/test/__fixtures__/awesome-repo/yarn.lock
  packages/metro-config/test/index.test.ts
  scripts/package.json
  scripts/rnx-dep-check.js
  yarn.lock
Labels: feature: metro, feature: dep-check, chore

#1116 fix(dep-check): bump react-native-screens for 0.66 and 0.68
  .changeset/perfect-peaches-reply.md
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.66.ts
  packages/dep-check/src/profiles/profile-0.68.ts
Labels: feature: dep-check

#1105 feat(rn-changelog-generator): Prepend changelogs to the supplied file
  .changeset/tasty-birds-give.md
  packages/rn-changelog-generator/README.md
  packages/rn-changelog-generator/src/generator.ts
Labels: feature: changelog-gen

#1130 fix(eslint-plugin): enable `react-hooks/recommended`
  .changeset/loud-poets-smoke.md
  packages/eslint-plugin/README.md
  packages/eslint-plugin/package.json
  packages/eslint-plugin/src/configs/recommended.js
  yarn.lock
Labels: feature: eslint

#1147 fix(dep-check): fix dev version not being correctly set
  .changeset/twelve-geckos-report.md
  packages/dep-check/src/check.ts
  packages/dep-check/src/types.ts
  packages/dep-check/src/vigilant.ts
Labels: feature: dep-check

#1148 fix(dep-check): do not rewrite superset ranges in vigilant mode
  .changeset/tame-eyes-yawn.md
  packages/dep-check/src/capabilities.ts
  packages/dep-check/src/dependencies.ts
  packages/dep-check/src/findBadPackages.ts
  packages/dep-check/src/manifest.ts
  packages/dep-check/src/profiles.ts
  packages/dep-check/src/vigilant.ts
  packages/dep-check/test/vigilant.test.ts
  packages/jest-preset/package.json
  packages/metro-config/package.json
  scripts/rnx-dep-check.js
Labels: feature: metro, feature: dep-check, chore, feature: jest
