Repository microsoft/rnx-kit, pull requests merged in 2022-06, with the labels that each got.

#1592 chore: address Dependabot alerts
  .github/workflows/pr.yml
  nx.json
  yarn.lock
Labels: dependencies

#1595 fix(dep-check): dep-check fails to visit dependencies
  .changeset/cold-rats-battle.md
  .changeset/silent-insects-vanish.md
  packages/dep-check/package.json
  packages/dep-check/src/dependencies.ts
  packages/dep-check/test/__mocks__/fs.js
  packages/tools-node/src/package.ts
  scripts/rnx-dep-check.js
Labels: feature: dep-check

#1596 fix(jest-preset): use public `loadConfig` if it exists
  .changeset/tame-rabbits-double.md
  nx.json
  packages/jest-preset/package.json
  packages/jest-preset/src/index.js
Labels: feature: jest

#1597 fix(metro-resolver-symlinks): don't interfere with browser redirection
  .changeset/new-geckos-kneel.md
  packages/metro-resolver-symlinks/src/symlinkResolver.ts
Labels: feature: metro

#1600 fix(react-native-auth): rename `acquireToken` to fit Swift naming conventions
  .changeset/five-zebras-doubt.md
  .changeset/plenty-plums-attack.md
  packages/react-native-auth/ios/RNXAuthModule.h
  packages/react-native-test-app-msal/ReactTestApp-MSAL.podspec
  packages/test-app/ios/Podfile.lock
Labels: feature: sdk

#1608 fix: enable `resolveSymlinks` and remove dupe code
  .changeset/shy-nails-fly.md
  packages/metro-config/src/index.js
  packages/metro-resolver-symlinks/src/resolver.ts
Labels: feature: metro

#1631 fix (docs): add more links to the default capabilities table
  .changeset/fifty-hounds-march.md
  docsite/docs/dependencies.md
  docsite/docs/guides/dependency-management.mdx
Labels: documentation

#1630 chore (msbot): relax time parameters
  .github/fabricbot.json
Labels: enhancement

#1705 ci(ios): simplify destination parameter
  .changeset/lemon-emus-explode.md
  packages/expo-app/package.json
  packages/test-app/package.json
  scripts/src/commands/build-ios.sh
Labels: chore

#1706 fix(metro-serializer-esbuild): default to the new `hermes` target
  .changeset/cool-seahorses-allow.md
  packages/esbuild-plugin-import-path-remapper/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer-esbuild/src/index.ts
  scripts/package.json
  scripts/rnx-dep-check.js
  yarn.lock
Labels: feature: metro
