Repository microsoft/rnx-kit, pull requests merged in 2022-09, with the labels that each got.

#1869 fix(metro-serializer-esbuild): removing `"use strict";` breaks source maps
  .changeset/rich-donkeys-design.md
  packages/metro-serializer-esbuild/README.md
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer-esbuild/src/index.ts
  packages/metro-serializer-esbuild/test/index.test.ts
Labels: feature: metro

#1870 fix(metro-serializer-esbuild): support Metro 0.72
  .changeset/strong-knives-return.md
  packages/metro-serializer-esbuild/src/index.ts
Labels: feature: metro

#1871 fix: use `esbuild` transform profile when `metro-serializer-esbuild` is used
  .changeset/eleven-elephants-give.md
  packages/babel-preset-metro-react-native/src/index.js
  packages/metro-serializer-esbuild/README.md
  packages/metro-serializer-esbuild/src/index.ts
Labels: feature: metro

#1873 fix(dep-check): allow specifying multiple packages
  .changeset/ninety-rivers-design.md
  packages/cli/src/dep-check.ts
  packages/dep-check/README.md
  packages/dep-check/src/cli.ts
  packages/dep-check/src/types.ts
Labels: feature: dep-check

#1851 fix(metro-config): ensure `server.enhanceMiddleware` is consistent with `transformer.assetPlugins`
  .changeset/rotten-crabs-try.md
  packages/metro-config/package.json
  packages/metro-config/src/index.js
  packages/metro-config/test/index.test.ts
Labels: feature: metro

#1881 fix(metro-config): fix asset plugin breaking bundling
  .changeset/dull-eggs-mate.md
  packages/metro-config/src/assetPluginForMonorepos.js
  packages/metro-config/src/index.js
  packages/metro-config/test/assetPluginForMonorepos.test.ts
  packages/metro-config/test/index.test.ts
Labels: feature: metro

#1885 chore: use ccache's symlinks instead of own script
  .changeset/curvy-squids-repair.md
  scripts/clang
  scripts/src/commands/build-ios.sh
Labels: chore

#1757 Proposal for dep-check 2.0 (new config scheme + rename)
  text/0001-dep-check-v2.md
Labels: RFC

#1886 feat(metro-plugin-duplicates-checker): differentiate between banned and duplicate modules
  .changeset/spotty-trainers-cheat.md
  packages/metro-plugin-duplicates-checker/src/checkForDuplicatePackages.ts
  packages/metro-plugin-duplicates-checker/src/index.ts
  packages/metro-plugin-duplicates-checker/test/checkForDuplicatePackages.test.ts
  packages/metro-plugin-duplicates-checker/test/testData.ts
Labels: feature: metro

#1850 feat(cli): add support for "Random Access Module" bundle
  .changeset/config.json
  .changeset/new-peas-cough.md
  .github/workflows/pr.yml
  packages/cli/README.md
  packages/cli/react-native.config.js
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/cliOptions.ts
  packages/cli/src/bundle/defaultPlugins.ts
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/bundle/metro.ts
  packages/cli/src/bundle/overrides.ts
  packages/cli/src/bundle/types.ts
  packages/cli/src/index.ts
  packages/cli/src/metro-config.ts
  packages/cli/src/ram-bundle.ts
  packages/cli/src/serve/kit-config.ts
  packages/cli/src/start.ts
  packages/cli/src/typescript/project-cache.ts
  packages/cli/test/bundle/overrides.test.ts
  packages/cli/test/metro-config.test.ts
  packages/config/README.md
  packages/config/schema.json
  packages/config/src/bundleConfig.ts
  packages/metro-serializer-esbuild/README.md
  packages/metro-service/src/bundle.ts
  packages/metro-service/src/config.ts
  packages/metro-service/src/index.ts
  packages/metro-service/src/ramBundle.ts
  packages/test-app/package.json
Labels: feature: cli

#1894 fix(cli): fix CLI not parsing numbers correctly
  .changeset/tough-actors-own.md
  packages/cli/react-native.config.js
  packages/cli/src/index.ts
  packages/cli/src/parsers.ts
Labels: feature: cli

#1906 fix(metro-config): remove `module` from `resolverMainFields`
  .changeset/swift-laws-turn.md
  packages/metro-config/src/index.js
  packages/metro-serializer-esbuild/metro.config.js
Labels: feature: metro

#1908 fix(cli): fail gracefully if `jest-cli` is missing
  .changeset/four-trainers-eat.md
  packages/cli/src/test.ts
Labels: feature: cli
