Repository microsoft/rnx-kit, pull requests merged in 2022-03, with the labels that each got.

#1166 fix(dep-check): fix dev version always being set
  .changeset/shiny-beers-beam.md
  packages/dep-check/src/check.ts
  packages/dep-check/test/check.test.ts
Labels: feature: dep-check

#1167 chore: cleanup of issues found by Yarn
  .changeset/cuddly-fans-lie.md
  .npmrc
  packages/esbuild-plugin-import-path-remapper/package.json
  packages/eslint-config/package.json
  packages/eslint-plugin/package.json
  packages/golang/package.json
  packages/metro-service/package.json
  packages/rn-changelog-generator/package.json
  packages/tools-react-native/package.json
Labels: feature: metro, chore, feature: eslint

#1178 chore: address issues found while migrating to npm
  .changeset/swift-trees-wash.md
  packages/dep-check/package.json
  packages/draft-patch-rnmacos/package.json
  packages/rn-changelog-generator/package.json
  yarn.lock
Labels: feature: dep-check

#1191 docs(dep-check): more descriptive error message when validating manifest
  .changeset/tame-lions-jog.md
  packages/dep-check/src/check.ts
Labels: feature: dep-check

#1198 fix(metro-serializer-esbuild): prevent `"use strict"` like Metro does
  .changeset/silly-donkeys-glow.md
  packages/metro-serializer-esbuild/src/index.ts
  packages/metro-serializer-esbuild/test/index.test.ts
Labels: feature: metro

#1189 chore(incubator): create a more structured approach for experimental packages
  .changeset/clever-ants-sniff.md
  .changeset/two-ears-roll.md
  .gitignore
  CONTRIBUTING.md
  README.md
  incubator/README.md
  incubator/patcher-rnmacos/CHANGELOG.md
  incubator/patcher-rnmacos/README.md
  incubator/patcher-rnmacos/package.json
  incubator/patcher-rnmacos/src/cli.ts
  incubator/patcher-rnmacos/src/diffRepos.ts
  incubator/patcher-rnmacos/src/file_compare.ts
  incubator/patcher-rnmacos/src/file_type_utils.ts
  incubator/patcher-rnmacos/src/fs_utils.ts
  incubator/patcher-rnmacos/src/git_utils.ts
  incubator/patcher-rnmacos/src/index.ts
  incubator/patcher-rnmacos/src/logger.ts
  incubator/patcher-rnmacos/src/patch/apply.ts
  incubator/patcher-rnmacos/src/patch/assertNever.ts
  incubator/patcher-rnmacos/src/patch/parse.ts
  incubator/patcher-rnmacos/src/patch/read.ts
  incubator/patcher-rnmacos/src/patch/reverse.ts
  incubator/patcher-rnmacos/src/patchFile.ts
  incubator/patcher-rnmacos/src/patchRepo.ts
  incubator/patcher-rnmacos/src/patch_utils.ts
  incubator/patcher-rnmacos/src/types.ts
  incubator/patcher-rnmacos/test/index.test.ts
  incubator/patcher-rnmacos/tsconfig.json
  incubator/rn-changelog-generator/CHANGELOG.md
  incubator/rn-changelog-generator/README.md
  incubator/rn-changelog-generator/package.json
  incubator/rn-changelog-generator/src/generator.ts
  incubator/rn-changelog-generator/src/index.ts
  incubator/rn-changelog-generator/src/single.ts
  incubator/rn-changelog-generator/src/utils/commits.ts
  incubator/rn-changelog-generator/src/utils/formatCommitLink.ts
  incubator/rn-changelog-generator/src/utils/getChangeDimensions.ts
  incubator/rn-changelog-generator/src/utils/getChangeMessage.ts
  incubator/rn-changelog-generator/test/__fixtures__/commit-internal.json
  incubator/rn-changelog-generator/test/__fixtures__/commits-v0.60.5-page-1.json
  incubator/rn-changelog-generator/test/__fixtures__/commits-v0.60.5-page-2.json
  incubator/rn-changelog-generator/test/__snapshots__/generator.test.ts.snap
  incubator/rn-changelog-generator/test/generator.test.ts
  incubator/rn-changelog-generator/test/utils/commits.test.ts
  incubator/rn-changelog-generator/test/utils/getChangeDimensions.test.ts
  incubator/rn-changelog-generator/test/utils/getChangeMessage.test.ts
  incubator/rn-changelog-generator/tsconfig.json
  package.json
  packages/template/README.md
  scripts/new-package.js
  scripts/update-readme.js
Labels: chore

#1211 feat(babel-preset): allow enabling loose mode on `@babel/plugin-transform-classes`
  .changeset/eighty-bats-crash.md
  packages/babel-preset-metro-react-native/README.md
  packages/babel-preset-metro-react-native/package.json
  packages/babel-preset-metro-react-native/src/index.js
  packages/babel-preset-metro-react-native/test/__fixtures__/App.ts
  packages/babel-preset-metro-react-native/test/__fixtures__/Class.ts
  packages/babel-preset-metro-react-native/test/__snapshots__/index.test.js.snap
  packages/babel-preset-metro-react-native/test/index.test.js
Labels: feature: metro

#1225 fix(react-native-test-app-msal): throw if `msal_config.json` is missing
  .changeset/lucky-tigers-cross.md
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/TokenBroker.kt
Labels: feature: sdk

#1226 fix(react-native-test-app-msal): `clean` also removes `msal_config.json`
  .changeset/five-donkeys-sit.md
  packages/react-native-test-app-msal/android/build.gradle
Labels: feature: sdk

#1245 fix(metro-config): add helper function for `extraNodeModules`
  .changeset/proud-lions-jump.md
  packages/metro-config/README.md
  packages/metro-config/package.json
  packages/metro-config/src/index.js
  packages/metro-config/test/index.test.ts
Labels: feature: metro

#1248 feat(lazy-index): move `react-native-lazy-index` into its new home
  .changeset/empty-carpets-argue.md
  .changeset/selfish-olives-hammer.md
  README.md
  packages/dep-check/README.md
  packages/dep-check/src/profiles/banned.ts
  packages/dep-check/src/profiles/profile-0.66.ts
  packages/react-native-lazy-index/CHANGELOG.md
  packages/react-native-lazy-index/README.md
  packages/react-native-lazy-index/package.json
  packages/react-native-lazy-index/src/experiences.js
  packages/react-native-lazy-index/src/generateLazyIndex.js
  packages/react-native-lazy-index/src/index.js
  packages/react-native-lazy-index/src/module.js
  packages/react-native-lazy-index/test/__fixtures__/AppRegistry/component-01.js
  packages/react-native-lazy-index/test/__fixtures__/AppRegistry/component-02.js
  packages/react-native-lazy-index/test/__fixtures__/AppRegistry/package.json
  packages/react-native-lazy-index/test/__fixtures__/BatchedBridge/module-01.js
  packages/react-native-lazy-index/test/__fixtures__/BatchedBridge/module-02.js
  packages/react-native-lazy-index/test/__fixtures__/BatchedBridge/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/another-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/another-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/0.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/1.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/2.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/some-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/some-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/yet-another-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/yet-another-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyOtherAwesomeApp/package.json
  packages/react-native-lazy-index/test/__snapshots__/index.test.ts.snap
  packages/react-native-lazy-index/test/index.test.ts
  packages/react-native-lazy-index/tsconfig.json
  yarn.lock
Labels: feature: dep-check, feature: sdk

#1323 ci: `changeset version` script is no longer needed
  .changeset/angry-roses-drop.md
  .changeset/config.json
  package.json
  scripts/disableChangesetsCommitAndBumpPackages.js
  yarn.lock
Labels: chore

#1329 chore(lazy-index): add missing `rnx-kit-scripts`
  .changeset/fresh-bulldogs-drive.md
  packages/react-native-lazy-index/package.json
Labels: feature: sdk

#1098 fix(dep-check): bump packages for react-native 0.68
  .changeset/chilled-carrots-admire.md
  .changeset/lucky-clouds-stare.md
  .changeset/silly-eagles-shout.md
  packages/dep-check/README.md
  packages/dep-check/src/profiles/profile-0.68.ts
Labels: feature: dep-check

#1343 Update README files, remove "dead" config types
  .changeset/large-geese-share.md
  incubator/patcher-rnmacos/README.md
  incubator/rn-changelog-generator/README.md
  packages/cli/README.md
  packages/config/README.md
  packages/config/src/kitConfig.ts
  packages/eslint-plugin/README.md
  packages/typescript-react-native-compiler/README.md
Labels: feature: cli, feature: eslint
