Repository microsoft/rnx-kit, pull requests merged in 2022-07, with the labels that each got.

#1727 chore: bump nx to 14.4.2
  .changeset/cyan-baboons-tan.md
  nx.json
  package.json
  scripts/src/commands/build.js
  yarn.lock
Labels: chore

#1751 chore: bump @octokit dependencies
  .changeset/thin-points-jog.md
  incubator/build/package.json
  yarn.lock
Labels: chore

#1753 fix(metro-config): fix invalid regular expression on Windows
  .changeset/wet-tigers-sparkle.md
  packages/metro-config/src/index.js
Labels: feature: metro

#1758 Add folders to the gitignore for rfcs base branch
  .gitignore
Labels: chore

#1756 add a few mentions to the RFC process in the repo
  .github/ISSUE_TEMPLATE/config.yml
  README.md
Labels: chore

#1789 fix(dep-check): update packages for 0.68, 0.69
  .changeset/clean-beans-pretend.md
  packages/dep-check/README.md
  packages/dep-check/scripts/update-profile.mjs
  packages/dep-check/src/presets/microsoft/profile-0.68.ts
  packages/dep-check/src/presets/microsoft/profile-0.69.ts
Labels: feature: dep-check
