Repository microsoft/rnx-kit, pull requests merged in 2023-09, with the labels that each got.

#2658 chore: bump react-native to 0.72
  .changeset/large-toys-destroy.md
  .yarnrc.yml
  incubator/esbuild-bundle-analyzer/test/testData.ts
  incubator/polyfills/package.json
  package.json
  packages/cli/package.json
  packages/config/package.json
  packages/config/src/bundleConfig.ts
  packages/eslint-config/package.json
  packages/jest-preset/package.json
  packages/metro-config/package.json
  packages/metro-config/src/assetPluginForMonorepos.js
  packages/metro-config/test/index.test.ts
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-duplicates-checker/test/testData.ts
  packages/metro-plugin-typescript/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer-esbuild/test/index.test.ts
  packages/metro-serializer/package.json
  packages/metro-service/package.json
  packages/metro-service/src/bundle.ts
  packages/react-native-auth/package.json
  packages/test-app/package.json
  packages/third-party-notices/package.json
  scripts/align-deps-preset.js
  scripts/rnx-align-deps.mjs
  yarn.lock
Labels: feature: metro, chore, feature: third party notices, feature: cli, feature: jest, feature: eslint, feature: sdk

#2660 chore: update Renovate config for 0.72
  .changeset/stupid-knives-rhyme.md
  .github/renovate.json
  packages/test-app/ios/Podfile.lock
  packages/test-app/macos/Podfile.lock
Labels: chore

#2662 ci(ios): fix 100% build cache miss
  .ccache/ccache.conf
  .changeset/large-hairs-return.md
  .github/actions/setup-toolchain/action.yml
  scripts/src/commands/build-ios.sh
Labels: chore

#2656 chore: allow `rnx-align-deps.mjs` to skip the build step
  .changeset/proud-bulldogs-hide.md
  .changeset/red-crabs-invent.md
  package.json
  packages/babel-plugin-import-path-remapper/src/index.js
  packages/config/package.json
  packages/console/package.json
  packages/tools-language/package.json
  packages/tools-node/package.json
  packages/tools-react-native/package.json
  packages/tools-workspaces/package.json
  scripts/src/commands/bundle.mjs
Labels: feature: metro, chore, feature: cli

#2667 fix: fix declaration of dependencies
  .changeset/khaki-eagles-attack.md
  package.json
  packages/babel-preset-metro-react-native/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/eslint-plugin/package.json
  packages/jest-preset/package.json
  packages/metro-config/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-typescript/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-service/package.json
  packages/third-party-notices/package.json
  scripts/package.json
  scripts/src/commands/bundle.mjs
  scripts/src/commands/depcheck.mjs
  yarn.lock
Labels: feature: metro, chore, feature: third party notices, feature: cli, feature: jest, feature: eslint

#2684 chore: move Prettier plugin to config for consistency
  .changeset/tiny-camels-look.md
  package.json
  scripts/package.json
  scripts/src/commands/format.mjs
  yarn.lock
Labels: chore

#2671 fix(cli): fix help message not showing on startup
  .changeset/gentle-ears-tickle.md
  packages/cli/package.json
  packages/cli/src/serve/external.ts
  packages/cli/src/serve/help.ts
  packages/cli/src/serve/keyboard.ts
  packages/cli/src/serve/types.ts
  packages/cli/src/start.ts
  packages/metro-service/package.json
  packages/metro-service/src/config.ts
  packages/metro-service/src/index.ts
  packages/metro-service/src/server.ts
  packages/tools-language/package.json
  packages/tools-node/package.json
  packages/tools-react-native/package.json
  yarn.lock
Labels: feature: metro, feature: cli

#2689 fix(metro-service): consume `@react-native/assets-registry`
  .changeset/fuzzy-cheetahs-burn.md
  packages/metro-service/.prettierignore
  packages/metro-service/copy-assets-registry.mjs
  packages/metro-service/package.json
  packages/metro-service/src/asset/android.ts
  packages/metro-service/src/asset/assetPathUtils.ts
  packages/metro-service/src/asset/ios.ts
  packages/metro-service/src/asset/types.ts
  packages/metro-service/src/asset/write.ts
  packages/metro-service/src/assets-registry/path-support.d.ts
  packages/metro-service/src/assets-registry/path-support.js
  packages/metro-service/src/assets-registry/registry.d.ts
  packages/metro-service/src/assets-registry/registry.js
  packages/metro-service/test/asset/android.test.ts
  packages/metro-service/test/asset/default.test.ts
  packages/metro-service/test/asset/helper.ts
  yarn.lock
Labels: feature: metro

#2669 chore(align-deps): update `update-profile.mjs` script
  .changeset/tender-melons-glow.md
  packages/align-deps/scripts/update-profile.mjs
Labels: feature: align-deps

#2621 chore(webapis): add tool for scanning for uses of Web APIs
  .gitignore
  incubator/@react-native-webapis/scan/Cargo.lock
  incubator/@react-native-webapis/scan/Cargo.toml
  incubator/@react-native-webapis/scan/README.md
  incubator/@react-native-webapis/scan/merge.mjs
  incubator/@react-native-webapis/scan/src/ignored_dirs.rs
  incubator/@react-native-webapis/scan/src/main.rs
  incubator/@react-native-webapis/scan/src/visitor.rs
  incubator/@react-native-webapis/scan/src/web_api_visitor.rs
  incubator/@react-native-webapis/scan/src/web_apis.rs
  incubator/@react-native-webapis/types/README.md
  incubator/@react-native-webapis/types/generate.mjs
  incubator/@react-native-webapis/types/package.json
  yarn.lock
Labels: chore

#2688 fix: use `node-fetch` only as fallback
  .changeset/sweet-dingos-boil.md
  packages/cli/src/serve/keyboard.ts
  packages/metro-service/src/server.ts
Labels: feature: metro, feature: cli

#2692 fix(cli): sync latest upstream changes
  .changeset/famous-dryers-joke.md
  packages/cli/src/serve/types.ts
  packages/cli/src/start.ts
Labels: feature: cli

#2693 fix(eslint-plugin): cache access to `NODE_ENV`
  .changeset/tasty-stingrays-add.md
  packages/eslint-plugin/src/rules/no-export-all.js
Labels: feature: eslint

#2694 fix(metro-resolver-symlinks): print Metro path
  .changeset/breezy-dolphins-greet.md
  packages/metro-resolver-symlinks/package.json
  packages/metro-resolver-symlinks/src/utils/patchMetro.ts
  yarn.lock
Labels: feature: metro

#2697 chore: remove unused `shasum.mjs`
  .changeset/thirty-nails-camp.md
  scripts/shasum.mjs
Labels: chore

#2423 feat(cli): allow Hermes to be run post-bundle
  .changeset/big-wolves-begin.md
  .changeset/nervous-yaks-hide.md
  packages/cli/README.md
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/hermes.ts
  packages/cli/src/bundle/overrides.ts
  packages/config/src/bundleConfig.ts
  packages/config/src/index.ts
Labels: feature: cli

#2713 Clean and clarify the docs
  README.md
  docsite/docs/architecture/overview.md
  docsite/docs/community.mdx
  docsite/docs/tools/overview.md
  docsite/docusaurus.config.js
  docsite/package.json
  docsite/src/components/HomepageFeatures.tsx
  docsite/static/img/microsoft-logo.svg
  docsite/yarn.lock
Labels: documentation, enhancement
