Repository microsoft/rnx-kit, pull requests merged in 2023-08, with the labels that each got.

#2576 fix(metro-serializer): remove unused peer dependency
  .changeset/serious-spiders-agree.md
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer/package.json
  yarn.lock
Labels: feature: metro

#2577 chore: rename `standard-api` -> `@react-native-webapis/types`
  .changeset/stupid-horses-fly.md
  incubator/@react-native-webapis/types/README.md
  incubator/@react-native-webapis/types/generate.mjs
  incubator/@react-native-webapis/types/package.json
  package.json
  yarn.lock
Labels: chore

#2572 fix(metro-service): warn if `projectRoot` may be misconfigured
  .changeset/silent-foxes-grab.md
  packages/metro-service/package.json
  packages/metro-service/src/babel.ts
  packages/metro-service/src/bundle.ts
  packages/metro-service/src/index.ts
  packages/metro-service/src/server.ts
  yarn.lock
Labels: feature: metro

#2574 fix(third-party-notices): fix `splitSourcePath` potentially getting wrong module name
  .changeset/tough-dancers-perform.md
  packages/third-party-notices/src/write-third-party-notices.ts
  packages/third-party-notices/test/__mocks__/fs.js
  packages/third-party-notices/test/parseModule.test.ts
  packages/third-party-notices/test/pathHelper.ts
  packages/third-party-notices/test/sourceMap.test.ts
  packages/third-party-notices/test/splitSourcePath.test.ts
Labels: feature: third party notices

#2588 Resolve npmPackageName from project root not local paths
  .changeset/bright-otters-type.md
  packages/metro-config/src/defaultConfig.js
  packages/metro-service/src/config.ts
Labels: feature: metro

#2579 docs: add ROADMAP.md
  ROADMAP.md
Labels: documentation, RFC

#2589 fix(metro-service): `cli-plugin-metro` has been deprecated
  .changeset/long-avocados-protect.md
  packages/metro-service/src/asset/android.ts
  packages/metro-service/src/asset/assetPathUtils.ts
  packages/metro-service/src/asset/filter.ts
  packages/metro-service/src/asset/ios.ts
  packages/metro-service/src/asset/write.ts
  packages/metro-service/src/bundle.ts
  packages/metro-service/test/asset/__snapshots__/android.test.ts.snap
  packages/metro-service/test/asset/android.test.ts
  packages/metro-service/test/asset/filter.test.ts
  packages/metro-service/test/asset/ios.test.ts
  packages/test-app/app.json
Labels: feature: metro

#2592 chore: configure ktlint/swiftformat and format code
  .changeset/five-rivers-melt.md
  .editorconfig
  .swiftformat
  packages/react-native-auth/android/src/main/java/com/microsoft/reactnativesdk/auth/AuthErrorType.kt
  packages/react-native-auth/android/src/main/java/com/microsoft/reactnativesdk/auth/ReactNativeAuthPackage.kt
  packages/react-native-auth/package.json
  packages/react-native-host/package.json
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/AccountType.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/Config.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/MicrosoftAccountsActivity.kt
  packages/react-native-test-app-msal/android/src/main/java/com/microsoft/reacttestapp/msal/MsalPackage.kt
  packages/react-native-test-app-msal/android/src/rnx/java/com/microsoft/reacttestapp/msal/ReactNativeAuthMSALModule.kt
  packages/react-native-test-app-msal/ios/AuthError.swift
  packages/react-native-test-app-msal/ios/SecretStore.swift
  packages/react-native-test-app-msal/ios/TokenBroker.swift
  packages/react-native-test-app-msal/package.json
  scripts/new-package.mjs
Labels: chore, feature: sdk

#2597 chore: ensure consistent import/export order
  .changeset/gorgeous-tigers-call.md
  incubator/build-plugin-firebase/src/index.ts
  incubator/build/src/distribution/local.ts
  incubator/esbuild-bundle-analyzer/src/analyze.ts
  incubator/esbuild-bundle-analyzer/src/duplicates.ts
  incubator/esbuild-bundle-analyzer/src/output.ts
  incubator/esbuild-bundle-analyzer/src/webpackStats.ts
  incubator/patcher-rnmacos/src/cli.ts
  incubator/patcher-rnmacos/src/file_compare.ts
  incubator/patcher-rnmacos/src/file_type_utils.ts
  incubator/patcher-rnmacos/src/index.ts
  incubator/patcher-rnmacos/src/patch/apply.ts
  incubator/patcher-rnmacos/src/patch/read.ts
  incubator/patcher-rnmacos/src/patch/reverse.ts
  incubator/patcher-rnmacos/src/patchFile.ts
  incubator/patcher-rnmacos/src/patchRepo.ts
  incubator/patcher-rnmacos/src/patch_utils.ts
  incubator/react-native-error-trace-decorator/src/check_arguments_validity.ts
  incubator/react-native-error-trace-decorator/src/utils.ts
  incubator/react-native-error-trace-decorator/test/check_arguments_validity.test.ts
  incubator/react-native-error-trace-decorator/test/extract_and_process_error_stack.test.ts
  incubator/react-native-error-trace-decorator/test/utils.test.ts
  incubator/rn-changelog-generator/src/index.ts
  incubator/rn-changelog-generator/src/utils/commits.ts
  incubator/rn-changelog-generator/test/generator.test.ts
  incubator/rn-changelog-generator/test/utils/commits.test.ts
  packages/align-deps/test/helpers.ts
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/bundle/types.ts
  packages/cli/test/bundle/kit-config.test.ts
  packages/cli/test/copy-assets/assembleAarBundle.test.ts
  packages/cli/test/copy-assets/copyAssets.test.ts
  packages/config/src/getBundleConfig.ts
  packages/config/src/getKitConfig.ts
  packages/config/test/getBundleConfig.test.ts
  packages/config/test/getKitConfig.test.ts
  packages/metro-plugin-cyclic-dependencies-detector/src/index.ts
  packages/metro-serializer/test/index.test.ts
  packages/metro-service/src/asset/ios.ts
  packages/metro-service/src/bundle.ts
  packages/react-native-lazy-index/test/experiences.test.ts
  packages/test-app/src/index.ts
  packages/tools-node/src/index.ts
  packages/tools-node/src/module.ts
  packages/tools-node/test/module.test.ts
  packages/tools-react-native/platform.d.ts
  packages/tools-react-native/src/index.ts
  packages/typescript-service/src/index.ts
  packages/typescript-service/test/cache.test.ts
  packages/typescript-service/test/snapshot.test.ts
  scripts/package.json
  scripts/src/commands/depcheck.mjs
  scripts/src/commands/format.mjs
  scripts/src/process.mjs
  scripts/src/require.mjs
  yarn.lock
Labels: feature: metro, feature: align-deps, chore, feature: cli, feature: sdk

#2604 fix: bump esbuild to 0.19 series
  .changeset/heavy-countries-pump.md
  packages/esbuild-plugin-import-path-remapper/package.json
  packages/metro-serializer-esbuild/package.json
  scripts/align-deps-preset.js
  scripts/package.json
  yarn.lock
Labels: feature: metro, chore

#2607 fix(metro-service): clean up after `cli-plugin-metro` deprecation
  .changeset/old-years-hug.md
  packages/metro-service/package.json
  packages/metro-service/src/config.ts
  yarn.lock
Labels: feature: metro

#2610 refactor(metro-resolver-symlinks): reuse `findMetroPath`
  .changeset/tough-owls-collect.md
  packages/metro-resolver-symlinks/src/helper.ts
  packages/metro-resolver-symlinks/src/utils/patchMetro.ts
  packages/metro-resolver-symlinks/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli/node_modules/metro/index.js
  packages/metro-resolver-symlinks/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli/node_modules/metro/package.json
  packages/metro-resolver-symlinks/test/__fixtures__/pnpm/node_modules/.pnpm/@react-native-community+cli-plugin-metro@7.0.3/node_modules/metro
  packages/metro-resolver-symlinks/test/__fixtures__/pnpm/node_modules/.pnpm/metro@0.67.0/node_modules/metro-resolver
  packages/metro-resolver-symlinks/test/__fixtures__/pnpm/node_modules/.pnpm/metro@0.67.0/node_modules/metro/index.js
  packages/metro-resolver-symlinks/test/__fixtures__/pnpm/node_modules/.pnpm/metro@0.67.0/node_modules/metro/package.json
  packages/metro-resolver-symlinks/test/resolver.test.ts
  packages/tools-react-native/src/metro.ts
Labels: feature: metro

#2611 chore(android): `kotlin-stdlib` is added by default
  .changeset/cold-suns-heal.md
  packages/react-native-auth/android/build.gradle
  packages/react-native-test-app-msal/android/build.gradle
Labels: feature: sdk

#2619 fix(cli): refresh menu/help message
  .changeset/weak-lemons-argue.md
  packages/cli/src/start.ts
Labels: feature: cli

#2606 fix(metro-resolver-symlinks): fix asset loading
  .changeset/blue-apes-attack.md
  packages/metro-resolver-symlinks/src/resolver.ts
  packages/metro-resolver-symlinks/src/symlinkResolver.ts
  packages/metro-resolver-symlinks/src/types.ts
  packages/metro-resolver-symlinks/src/utils/enhancedResolve.ts
  packages/metro-resolver-symlinks/src/utils/patchMetro.ts
  packages/metro-resolver-symlinks/src/utils/remapImportPath.ts
  packages/metro-resolver-symlinks/test/__mocks__/find-up.js
  packages/metro-resolver-symlinks/test/fixtures.ts
  packages/metro-resolver-symlinks/test/remapImportPath.test.ts
  packages/metro-resolver-symlinks/test/utils/enhancedResolve.test.ts
Labels: feature: metro

#2609 test(metro-serializer-esbuild): replace `@react-native-community/cli-plugin-metro`
  .changeset/unlucky-lobsters-explain.md
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer-esbuild/test/index.test.ts
  yarn.lock
Labels: feature: metro

#2622 feat(lazy-index)!: removed elements that made the plugin confusing
  .changeset/beige-cycles-cough.md
  packages/react-native-lazy-index/README.md
  packages/react-native-lazy-index/package.json
  packages/react-native-lazy-index/src/experiences.js
  packages/react-native-lazy-index/src/generateLazyIndex.js
  packages/react-native-lazy-index/src/index.js
  packages/react-native-lazy-index/src/module.js
  packages/react-native-lazy-index/test/__fixtures__/AppRegistry/package.json
  packages/react-native-lazy-index/test/__fixtures__/BatchedBridge/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/another-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/another-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/0.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/1.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/2.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/final-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/some-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/some-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/yet-another-feature/index.js
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/node_modules/@awesome-app/yet-another-feature/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyAwesomeApp/package.json
  packages/react-native-lazy-index/test/__fixtures__/MyOtherAwesomeApp/package.json
  packages/react-native-lazy-index/test/__snapshots__/index.test.ts.snap
  packages/react-native-lazy-index/test/experiences.test.ts
  packages/react-native-lazy-index/test/index.test.ts
  yarn.lock
Labels: feature: sdk

#2629 ci: drop Node 14, add 20
  .github/workflows/pr.yml
  nx.json
Labels: chore

#2638 fix(lazy-index): update error messages
  .changeset/funny-snakes-visit.md
  packages/react-native-lazy-index/src/experiences.js
  packages/react-native-lazy-index/src/index.js
  packages/react-native-lazy-index/test/experiences.test.ts
Labels: feature: sdk

#2639 chore: enable `@typescript-eslint/stylistic`
  .changeset/orange-buses-carry.md
  incubator/build/src/cli.ts
  incubator/esbuild-bundle-analyzer/src/types.ts
  incubator/patcher-rnmacos/src/fs_utils.ts
  incubator/patcher-rnmacos/src/patchRepo.ts
  incubator/patcher-rnmacos/src/types.ts
  incubator/react-native-error-trace-decorator/src/types.ts
  incubator/rn-changelog-generator/src/single.ts
  packages/bundle-diff/src/types.ts
  packages/cli/src/bundle.ts
  packages/cli/src/clean.ts
  packages/cli/src/ram-bundle.ts
  packages/cli/src/start.ts
  packages/cli/src/write-third-party-notices.ts
  packages/eslint-config/index.js
  packages/eslint-config/package.json
  packages/metro-plugin-duplicates-checker/src/gatherModules.ts
  packages/metro-serializer/src/index.ts
  packages/metro-service/src/config.ts
  packages/react-native-auth/src/NativeAuth.ts
  packages/third-party-notices/src/extractors.js
  packages/typescript-service/src/cache.ts
  yarn.lock
Labels: feature: metro, feature: third party notices, feature: cli, feature: eslint, feature: sdk

#2642 chore: bulk fix metadata in all packages
  .changeset/forty-plums-juggle.md
  .github/workflows/pr.yml
  incubator/react-native-test-app-msal/package.json
  package.json
  packages/cli/package.json
  packages/config/package.json
  scripts/lint-metadata.mjs
Labels: chore, feature: cli
