Repository microsoft/rnx-kit, pull requests merged in 2023-10, with the labels that each got.

#2723 fix(babel-preset-metro-react-native): use `@react-native/babel-preset` with 0.73
  .changeset/twelve-actors-repeat.md
  packages/babel-preset-metro-react-native/package.json
  packages/babel-preset-metro-react-native/src/index.js
  yarn.lock
Labels: feature: metro

#2590 feat(webapis): introduce `@react-native-webapis/battery-status`
  .changeset/smart-vans-compete.md
  .github/labeler.yml
  .gitignore
  incubator/@react-native-webapis/battery-status/README.md
  incubator/@react-native-webapis/battery-status/RNWBatteryStatus.podspec
  incubator/@react-native-webapis/battery-status/android/build.gradle
  incubator/@react-native-webapis/battery-status/android/gradle.properties
  incubator/@react-native-webapis/battery-status/android/src/main/AndroidManifest.xml
  incubator/@react-native-webapis/battery-status/android/src/main/java/org/reactnativewebapis/batterystatus/BatteryStatusModule.kt
  incubator/@react-native-webapis/battery-status/android/src/main/java/org/reactnativewebapis/batterystatus/BatteryStatusPackage.kt
  incubator/@react-native-webapis/battery-status/ios/RNWBatteryStatus.h
  incubator/@react-native-webapis/battery-status/ios/RNWBatteryStatus.m
  incubator/@react-native-webapis/battery-status/ios/RNWBatteryStatus.xcodeproj/project.pbxproj
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.h
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.m
  incubator/@react-native-webapis/battery-status/macos/RNWBatteryStatus.xcodeproj/project.pbxproj
  incubator/@react-native-webapis/battery-status/package.json
  incubator/@react-native-webapis/battery-status/react-native.config.js
  incubator/@react-native-webapis/battery-status/src/NativeBatteryStatus.ts
  incubator/@react-native-webapis/battery-status/src/index.ts
  incubator/@react-native-webapis/battery-status/tsconfig.json
  incubator/@react-native-webapis/battery-status/windows/PropertySheet.props
  incubator/@react-native-webapis/battery-status/windows/RNWBatteryStatus.h
  incubator/@react-native-webapis/battery-status/windows/ReactNativeBatteryStatus.def
  incubator/@react-native-webapis/battery-status/windows/ReactNativeBatteryStatus.vcxproj
  incubator/@react-native-webapis/battery-status/windows/ReactNativeBatteryStatus.vcxproj.filters
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.cpp
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.h
  incubator/@react-native-webapis/battery-status/windows/ReactPackageProvider.idl
  incubator/@react-native-webapis/battery-status/windows/pch.cpp
  incubator/@react-native-webapis/battery-status/windows/pch.h
  incubator/polyfills/README.md
  incubator/polyfills/package.json
  incubator/polyfills/src/dependency.ts
  incubator/polyfills/src/index.ts
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/battery-status/package.json
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/battery-status/polyfill.js
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/battery-status/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/gamepad/package.json
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/gamepad/polyfill.js
  incubator/polyfills/test/__fixtures__/node_modules/@react-native-webapis/gamepad/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/excluded-package/package.json
  incubator/polyfills/test/__fixtures__/node_modules/excluded-package/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boolean/package.json
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boolean/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boundary/package.json
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-boundary/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-missing/package.json
  incubator/polyfills/test/__fixtures__/node_modules/invalid-polyfill-missing/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/no-polyfill/package.json
  incubator/polyfills/test/__fixtures__/node_modules/no-polyfill/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/react-native/package.json
  incubator/polyfills/test/__fixtures__/node_modules/react-native/react-native.config.js
  incubator/polyfills/test/__fixtures__/node_modules/react/package.json
  incubator/polyfills/test/__fixtures__/package.json
  incubator/polyfills/test/__mocks__/chalk.js
  incubator/polyfills/test/dependency.test.ts
  incubator/polyfills/test/index.test.ts
  scripts/src/commands/depcheck.mjs
  yarn.lock
Labels: chore, feature: webapis

#2728 fix(metro-serializer-esbuild): polyfill `Symbol.asyncIterator`
  .changeset/lemon-pens-invent.md
  packages/metro-serializer-esbuild/src/index.ts
  packages/metro-serializer-esbuild/src/polyfills.ts
  packages/metro-serializer-esbuild/test/index.test.ts
  packages/metro-serializer-esbuild/test/polyfillAsyncIteratorSymbol.test.ts
  packages/tools-react-native/test/platform.test.ts
Labels: feature: metro

#2730 fix(metro-service): ensure correct metro packages are used
  .changeset/empty-dryers-lie.md
  packages/cli/src/start.ts
  packages/metro-config/package.json
  packages/metro-config/src/defaultConfig.js
  packages/metro-config/src/index.js
  packages/metro-resolver-symlinks/src/helper.ts
  packages/metro-resolver-symlinks/src/symlinkResolver.ts
  packages/metro-resolver-symlinks/test/resolver.test.ts
  packages/metro-serializer-esbuild/src/index.ts
  packages/metro-serializer-esbuild/src/sourceMap.ts
  packages/metro-serializer/package.json
  packages/metro-serializer/src/index.ts
  packages/metro-service/package.json
  packages/metro-service/src/bundle.ts
  packages/metro-service/src/config.ts
  packages/metro-service/src/index.ts
  packages/metro-service/src/metro.ts
  packages/metro-service/src/ramBundle.ts
  packages/metro-service/src/server.ts
  packages/metro-service/src/terminal.ts
  packages/tools-react-native/metro.d.ts
  packages/tools-react-native/src/metro.ts
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli-plugin-metro/node_modules/metro-resolver/index.js
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli-plugin-metro/node_modules/metro-resolver/package.json
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli-plugin-metro/node_modules/metro/index.js
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli-plugin-metro/node_modules/metro/package.json
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli-plugin-metro/package.json
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/@react-native-community/cli/package.json
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/metro-resolver/index.js
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/metro-resolver/package.json
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/react-native/node_modules/metro-resolver/index.js
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/react-native/node_modules/metro-resolver/package.json
  packages/tools-react-native/test/__fixtures__/metro-resolver-duplicates/node_modules/react-native/package.json
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/@react-native-community+cli-plugin-metro@7.0.3/node_modules/@react-native-community/cli-plugin-metro/package.json
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/@react-native-community+cli-plugin-metro@7.0.3/node_modules/metro
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/@react-native-community+cli@7.0.3_react-native@0.68.2/node_modules/@react-native-community/cli-plugin-metro
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/@react-native-community+cli@7.0.3_react-native@0.68.2/node_modules/@react-native-community/cli/package.json
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/@react-native-community+cli@7.0.3_react-native@0.68.2/node_modules/react-native
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/metro-resolver@0.67.0/node_modules/metro-resolver/index.js
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/metro-resolver@0.67.0/node_modules/metro-resolver/package.json
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/metro@0.67.0/node_modules/metro-resolver
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/metro@0.67.0/node_modules/metro/index.js
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/metro@0.67.0/node_modules/metro/package.json
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/react-native@0.68.2_react@17.0.2/node_modules/@react-native-community/cli
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/.pnpm/react-native@0.68.2_react@17.0.2/node_modules/react-native/package.json
  packages/tools-react-native/test/__fixtures__/pnpm/node_modules/react-native
  packages/tools-react-native/test/metro.test.ts
  yarn.lock
Labels: feature: metro, feature: cli

#2732 fix(metro-config): forward `@babel/core` dependency
  .changeset/grumpy-pears-dream.md
  packages/metro-config/package.json
  yarn.lock
Labels: feature: metro

#2736 chore(webapis): rollout to npm experimental webapis (battery-status and polyfills) packages
  .changeset/stupid-buses-boil.md
  incubator/@react-native-webapis/battery-status/RNWBatteryStatus.podspec
  incubator/@react-native-webapis/battery-status/android/build.gradle
  incubator/@react-native-webapis/battery-status/package.json
  incubator/polyfills/package.json
  yarn.lock
Labels: feature: webapis

#2740 fix(battery-status): fix the podspec
  .changeset/sour-houses-fry.md
  incubator/@react-native-webapis/battery-status/RNWBatteryStatus.podspec
Labels: feature: webapis

#2768 ci: add `--filter=blob:none` for faster checkouts
  .github/workflows/build.yml
  .github/workflows/pr.yml
Labels: chore

#2769 chore(metro-service): update `assets-registry` only when needed
  .changeset/happy-clouds-occur.md
  packages/metro-service/copy-assets-registry.mjs
Labels: feature: metro

#2770 fix(metro-config): remove unused dependencies
  .changeset/cool-crabs-argue.md
  packages/metro-config/README.md
  packages/metro-config/package.json
  packages/tools-workspaces/README.md
  yarn.lock
Labels: feature: metro

#2772 chore: restrict use of `export default`
  .changeset/selfish-zebras-suffer.md
  incubator/@react-native-webapis/battery-status/src/NativeBatteryStatus.ts
  incubator/@react-native-webapis/battery-status/src/index.ts
  incubator/build-plugin-firebase/src/index.ts
  incubator/patcher-rnmacos/src/diffRepos.ts
  incubator/patcher-rnmacos/src/index.ts
  incubator/patcher-rnmacos/src/patchFile.ts
  incubator/patcher-rnmacos/src/patchRepo.ts
  incubator/rn-changelog-generator/src/generator.ts
  incubator/rn-changelog-generator/src/index.ts
  incubator/rn-changelog-generator/src/single.ts
  incubator/rn-changelog-generator/src/utils/validateChangelog.ts
  incubator/rn-changelog-generator/src/validate.ts
  packages/eslint-config/index.js
  packages/metro-plugin-cyclic-dependencies-detector/src/index.ts
  packages/metro-plugin-duplicates-checker/src/index.ts
  packages/metro-plugin-typescript/src/index.ts
  packages/react-native-auth/src/NativeAuth.ts
  packages/react-native-auth/src/index.ts
  packages/template/src/index.ts
  packages/template/test/index.test.ts
  packages/test-app/src/App.native.tsx
  packages/test-app/src/App.tsx
  packages/test-app/src/index.ts
  packages/test-app/test/App.test.tsx
  packages/third-party-notices/src/index.ts
  scripts/src/process.mjs
  scripts/src/require.mjs
Labels: feature: metro, chore, feature: third party notices, feature: eslint, feature: sdk, feature: webapis

#2776 chore: fix `lint` command not linting all files
  .changeset/famous-squids-argue.md
  .github/workflows/pr.yml
  .gitignore
  incubator/patcher-rnmacos/src/patch/apply.ts
  incubator/patcher-rnmacos/src/patch/parse.ts
  incubator/patcher-rnmacos/src/patch/read.ts
  incubator/patcher-rnmacos/src/patch/reverse.ts
  incubator/rn-changelog-generator/src/generator.ts
  incubator/rn-changelog-generator/src/single.ts
  incubator/rn-changelog-generator/src/utils/commits.ts
  incubator/rn-changelog-generator/src/utils/formatCommitLink.ts
  incubator/rn-changelog-generator/src/utils/getChangeDimensions.ts
  incubator/rn-changelog-generator/src/utils/getChangeMessage.ts
  incubator/rn-changelog-generator/test/utils/getChangeDimensions.test.ts
  incubator/rn-changelog-generator/test/utils/getChangeMessage.test.ts
  packages/align-deps/scripts/update-profile.mjs
  packages/align-deps/src/commands/setVersion.ts
  packages/align-deps/src/findBadPackages.ts
  packages/align-deps/src/presets/banned.ts
  packages/align-deps/src/presets/microsoft/react-native.ts
  packages/align-deps/src/presets/microsoft/react-native/baseCapabilities.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.61.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.62.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.63.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.64.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.65.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.66.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.67.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.68.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.69.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.70.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.71.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.72.ts
  packages/align-deps/test/capabilities.test.ts
  packages/align-deps/test/check.test.ts
  packages/align-deps/test/dependencies.test.ts
  packages/align-deps/test/manifest.test.ts
  packages/align-deps/test/preset.test.ts
  packages/metro-resolver-symlinks/src/utils/patchMetro.ts
  packages/metro-service/src/asset/filter.ts
  scripts/src/commands/build-android.mjs
  scripts/src/commands/build-ios.mjs
  scripts/src/commands/build.mjs
  scripts/src/commands/bundle.mjs
  scripts/src/commands/clean.mjs
  scripts/src/commands/depcheck.mjs
  scripts/src/commands/format.mjs
  scripts/src/commands/lint.mjs
  scripts/src/commands/test.mjs
  scripts/src/commands/updateApiReadme.mjs
  scripts/src/index.mjs
Labels: feature: metro, feature: align-deps, chore

#2775 chore: bump Nx to v17
  .changeset/beige-penguins-hear.md
  .gitignore
  nx.json
  package.json
  scripts/nx-tasks-runner.js
  yarn.lock
Labels: chore
