Repository microsoft/rnx-kit, pull requests merged in 2024-08, with the labels that each got.

#3255 fix(config): fix modules not being resolved from correct path
  .changeset/hot-cars-crash.md
  packages/config/package.json
  packages/config/src/getKitConfig.ts
  packages/config/test/__snapshots__/getKitConfig.test.ts.snap
  packages/config/test/getBundleConfig.test.ts
  packages/config/test/getKitCapabilities.test.ts
  packages/config/test/getKitConfig.test.ts
  yarn.lock
Labels: feature: cli

#3263 fix(cli): minor cleanups in preparation for bigger changes
  .changeset/rotten-socks-compete.md
  packages/cli/package.json
  packages/cli/src/align-deps.ts
  packages/cli/src/bundle.ts
  packages/cli/src/bundle/cliOptions.ts
  packages/cli/src/bundle/hermes.ts
  packages/cli/src/bundle/metro.ts
  packages/cli/src/clean.ts
  packages/cli/src/helpers/externals.ts
  packages/cli/src/helpers/filesystem.ts
  packages/cli/src/helpers/metro-config.ts
  packages/cli/src/helpers/parsers.ts
  packages/cli/src/index.ts
  packages/cli/src/ram-bundle.ts
  packages/cli/src/start.ts
  packages/cli/src/test.ts
  packages/cli/src/write-third-party-notices.ts
  packages/cli/test/__mocks__/fs.js
  packages/cli/test/bundle.test.ts
  packages/cli/test/clean.test.ts
  packages/cli/test/helpers/filesystem.test.ts
  packages/cli/test/helpers/metro-config.test.ts
  packages/cli/test/helpers/parsers.test.ts
  packages/cli/test/react-native-config.test.ts
  packages/cli/test/start.test.ts
  packages/metro-plugin-duplicates-checker/test/__mocks__/fs.js
  packages/tools-react-native/src/platform.ts
  yarn.lock
Labels: feature: metro, feature: cli

#3266 fix(metro-config): workaround for Expo unintentionally overwriting fields
  .changeset/healthy-ducks-greet.md
  .changeset/unlucky-bikes-push.md
  packages/metro-config/package.json
  packages/metro-config/src/defaultConfig.js
  packages/metro-config/src/expoConfig.js
  packages/metro-config/src/index.js
  packages/metro-config/test/expoConfig.test.ts
  packages/metro-config/test/index.test.ts
  yarn.lock
Labels: feature: metro

#3272 test(metro-config): fix logical merge conflict breaking build
  .changeset/fast-lizards-talk.md
  packages/metro-config/test/expoConfig.test.ts
Labels: feature: metro

#3289 Fix esbuild serializer on react-native 0.74
  .changeset/stupid-kangaroos-think.md
  packages/metro-serializer-esbuild/src/sourceMap.ts
Labels: feature: metro

#3274 docs(metro-config): add Expo example
  .changeset/curvy-rockets-hammer.md
  packages/metro-config/README.md
Labels: feature: metro

#3290 chore: bump `react-native` to 0.74
  .changeset/fair-emus-explode.md
  .changeset/rude-eggs-drive.md
  .github/renovate.json
  .yarnrc.yml
  incubator/@react-native-webapis/battery-status/package.json
  incubator/@react-native-webapis/web-storage/package.json
  incubator/polyfills/package.json
  package.json
  packages/align-deps/src/presets/microsoft/react-native/profile-0.73.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.74.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.75.ts
  packages/babel-preset-metro-react-native/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/jest-preset/package.json
  packages/metro-config/package.json
  packages/metro-config/test/index.test.ts
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-typescript/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer/package.json
  packages/metro-service/package.json
  packages/react-native-auth/package.json
  packages/test-app/ios/Podfile.lock
  packages/test-app/package.json
  packages/test-app/test/__snapshots__/App.test.tsx.snap
  packages/tools-react-native/package.json
  scripts/align-deps-preset.cjs
  scripts/lint-lockfile.js
  scripts/rnx-align-deps.js
  yarn.lock
Labels: feature: metro, feature: align-deps, chore, feature: cli, feature: jest, feature: sdk, feature: webapis

#3244 feat(cli)!: introduce standalone `rnx-cli`
  .changeset/fifty-trains-worry.md
  packages/cli/README.md
  packages/cli/bin/rnx-cli.cjs
  packages/cli/package.json
  packages/cli/scripts/update-readme.ts
  packages/cli/src/bin/context.ts
  packages/cli/src/bin/externalCommands.ts
  packages/cli/src/bin/rnx-cli.ts
  packages/cli/src/bundle/hermes.ts
  packages/cli/src/bundle/metro.ts
  packages/cli/src/clean.ts
  packages/cli/src/copy-assets.ts
  packages/cli/src/helpers/filesystem.ts
  packages/cli/src/helpers/parsers.ts
  packages/cli/src/index.ts
  packages/cli/src/serve/keyboard.ts
  packages/cli/src/serve/types.ts
  packages/cli/src/start.ts
  packages/cli/src/test.ts
  packages/cli/test/__mocks__/fs-extra.js
  packages/cli/test/bin/context.test.ts
  packages/cli/test/bin/externalCommands.test.ts
  packages/cli/test/copy-assets/assembleAarBundle.test.ts
  packages/cli/test/copy-assets/copyAssets.test.ts
  packages/test-app/package.json
  yarn.lock
Labels: feature: cli

#3292 chore: bump minimum Node version in new packages to >=16.17
  .changeset/gold-camels-wave.md
  incubator/@react-native-webapis/web-storage/package.json
  packages/template/package.json
Labels: feature: webapis

#3302 fix(react-native-host): fix `setImmediate` not being called on 0.75
  .changeset/kind-dolls-know.md
  packages/react-native-host/cocoa/RNXTurboModuleAdapter.mm
Labels: feature: sdk

#3303 chore: bump `react-native` to 0.75
  .changeset/cuddly-shrimps-jump.md
  .github/renovate.json
  .yarnrc.yml
  incubator/@react-native-webapis/battery-status/package.json
  incubator/@react-native-webapis/web-storage/package.json
  incubator/polyfills/package.json
  package.json
  packages/align-deps/src/presets/microsoft/react-native/profile-0.75.ts
  packages/babel-preset-metro-react-native/package.json
  packages/cli/package.json
  packages/cli/src/bin/context.ts
  packages/jest-preset/package.json
  packages/metro-config/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-service/package.json
  packages/metro-service/src/assets-registry/path-support.js
  packages/react-native-auth/package.json
  packages/test-app/ios/Podfile.lock
  packages/test-app/package.json
  packages/test-app/test/__snapshots__/App.test.tsx.snap
  packages/tools-react-native/package.json
  scripts/rnx-align-deps.js
  yarn.lock
Labels: feature: metro, feature: align-deps, chore, feature: cli, feature: jest, feature: sdk, feature: webapis

#3305 feat(tools-apple): add primitives for build and run commands
  .changeset/moody-knives-think.md
  .changeset/twenty-eels-eat.md
  packages/cli/package.json
  packages/cli/src/build.ts
  packages/cli/src/build/apple.ts
  packages/cli/src/build/ios.ts
  packages/cli/src/build/macos.ts
  packages/cli/src/helpers/parsers.ts
  packages/cli/src/index.ts
  packages/cli/src/run.ts
  packages/cli/src/run/ios.ts
  packages/cli/src/run/macos.ts
  packages/cli/tsconfig.json
  packages/tools-apple/README.md
  packages/tools-apple/package.json
  packages/tools-apple/src/index.ts
  packages/tools-apple/src/ios.ts
  packages/tools-apple/src/macos.ts
  packages/tools-apple/src/scheme.ts
  packages/tools-apple/src/types.ts
  packages/tools-apple/src/xcode.ts
  yarn.lock
Labels: feature: cli

#3317 fix(cli): `projectDir` is only set in recent versions
  .changeset/funny-rabbits-eat.md
  .gitignore
  packages/cli/src/build/ios.ts
  packages/cli/src/run.ts
Labels: chore, feature: cli

#3318 test(cli): make implicit mocks explicit
  .changeset/few-starfishes-give.md
  packages/cli/src/bundle/kit-config.ts
  packages/cli/src/bundle/metro.ts
  packages/cli/src/copy-assets.ts
  packages/cli/src/helpers/filesystem.ts
  packages/cli/test/__mocks__/child_process.js
  packages/cli/test/__mocks__/fs.js
  packages/cli/test/bin/context.test.ts
  packages/cli/test/bin/externalCommands.test.ts
  packages/cli/test/bundle.test.ts
  packages/cli/test/bundle/__mocks__/@rnx-kit/config.js
  packages/cli/test/bundle/__mocks__/@rnx-kit/console.js
  packages/cli/test/bundle/__mocks__/@rnx-kit/metro-service.js
  packages/cli/test/bundle/kit-config.test.ts
  packages/cli/test/bundle/metro.test.ts
  packages/cli/test/bundle/overrides.test.ts
  packages/cli/test/copy-assets/assembleAarBundle.test.ts
  packages/cli/test/copy-assets/copyAssets.test.ts
  packages/cli/test/helpers/filesystem.test.ts
  packages/cli/test/helpers/metro-config.test.ts
  packages/cli/test/helpers/parsers.test.ts
  packages/tools-android/README.md
  packages/tools-android/src/index.ts
  packages/tools-filesystem/src/mocks.ts
  packages/tools-node/src/package.ts
  packages/tools-node/src/path.ts
  packages/tools-react-native/src/cache.ts
  scripts/src/commands/test.js
Labels: chore, feature: cli

#3320 fix(cli): fix `build` command missing additional context
  .changeset/new-cougars-collect.md
  packages/cli/src/bin/context.ts
  packages/cli/src/bin/rnx-cli.ts
  packages/cli/test/bin/context.test.ts
  packages/test-app/react-native.config.js
Labels: feature: cli

#3322 feat(tools-android): add primitives for build and run commands
  .changeset/breezy-mirrors-attend.md
  .changeset/thin-eyes-judge.md
  packages/cli/package.json
  packages/cli/src/build.ts
  packages/cli/src/build/android.ts
  packages/cli/src/build/apple.ts
  packages/cli/src/build/ios.ts
  packages/cli/src/build/macos.ts
  packages/cli/src/build/types.ts
  packages/cli/src/run.ts
  packages/cli/src/run/android.ts
  packages/cli/src/run/ios.ts
  packages/cli/src/run/macos.ts
  packages/tools-android/README.md
  packages/tools-android/src/apk.ts
  packages/tools-android/src/device.ts
  packages/tools-android/src/gradle.ts
  packages/tools-android/src/index.ts
  packages/tools-android/src/sdk.ts
  packages/tools-android/src/types.ts
  yarn.lock
Labels: feature: cli

#3319 fix(align-deps): update dependencies for 0.74, 0.75
  .changeset/healthy-foxes-sit.md
  packages/align-deps/README.md
  packages/align-deps/scripts/update-profile.mjs
  packages/align-deps/src/presets/microsoft/react-native/profile-0.74.ts
  packages/align-deps/src/presets/microsoft/react-native/profile-0.75.ts
Labels: feature: align-deps
