Repository microsoft/rnx-kit, pull requests merged in 2025-05, with the labels that each got.

#3602 fix(react-native-host): backport fix for Reanimated issue
  .changeset/loud-coins-deny.md
  packages/react-native-host/cocoa/RNXBridgelessHeaders.h
  packages/react-native-host/cocoa/RNXFeatureMacros.h
Labels: feature: sdk

#3604 fix(react-native-host): notify when runtime is ready
  .changeset/calm-dingos-swim.md
  packages/react-native-host/cocoa/RNXTurboModuleAdapter.mm
Labels: feature: sdk

#3580 chore(scripts): Switch scripts package from yargs to clipanion
  .changeset/khaki-windows-smile.md
  scripts/package.json
  scripts/src/commands/build.js
  scripts/src/commands/bundle.js
  scripts/src/commands/clean.js
  scripts/src/commands/format.js
  scripts/src/commands/lint.js
  scripts/src/commands/test.js
  scripts/src/commands/updateApiReadme.js
  scripts/src/index.js
  yarn.lock
Labels: chore

#3615 chore: bump dependencies that need manual intervention
  .changeset/many-bears-search.md
  incubator/@react-native-webapis/battery-status/package.json
  incubator/build/package.json
  incubator/commitlint-lite/package.json
  incubator/esbuild-bundle-analyzer/package.json
  incubator/patcher-rnmacos/package.json
  incubator/polyfills/package.json
  incubator/react-native-error-trace-decorator/package.json
  incubator/rn-changelog-generator/package.json
  incubator/yarn-plugin-external-workspaces/package.json
  incubator/yarn-plugin-install-to/package.json
  package.json
  packages/babel-plugin-import-path-remapper/package.json
  packages/babel-preset-metro-react-native/package.json
  packages/bundle-diff/package.json
  packages/cli/package.json
  packages/config/package.json
  packages/console/package.json
  packages/esbuild-plugin-import-path-remapper/package.json
  packages/eslint-plugin/package.json
  packages/jest-preset/package.json
  packages/metro-plugin-cyclic-dependencies-detector/package.json
  packages/metro-plugin-duplicates-checker/package.json
  packages/metro-plugin-typescript/package.json
  packages/metro-resolver-symlinks/package.json
  packages/metro-serializer-esbuild/package.json
  packages/metro-serializer/package.json
  packages/metro-service/package.json
  packages/react-native-lazy-index/package.json
  packages/third-party-notices/package.json
  packages/tools-android/package.json
  packages/tools-apple/package.json
  packages/tools-filesystem/package.json
  packages/tools-language/package.json
  packages/tools-node/package.json
  packages/tools-packages/package.json
  packages/tools-react-native/package.json
  packages/tools-shell/package.json
  packages/tools-windows/package.json
  packages/tools-workspaces/package.json
  packages/typescript-service/package.json
  scripts/align-deps-preset.cjs
  scripts/package.json
  yarn.lock
Labels: feature: metro, chore, feature: third party notices, feature: cli, feature: jest, feature: eslint, feature: sdk, feature: webapis

#3616 chore: fix commands not receiving args and/or forwarding exit codes
  .changeset/green-planes-occur.md
  scripts/src/commands/build.js
  scripts/src/commands/bundle.js
  scripts/src/commands/clean.js
  scripts/src/commands/format.js
  scripts/src/commands/lint.js
  scripts/src/commands/test.js
  scripts/src/commands/updateApiReadme.js
  scripts/src/index.js
  scripts/src/process.js
Labels: chore

#3609 feat(metro-resolver-symlinks): add experimental `oxc-resolver`
  .changeset/tasty-rules-check.md
  packages/metro-resolver-symlinks/package.json
  packages/metro-resolver-symlinks/src/helper.ts
  packages/metro-resolver-symlinks/src/remappers/remapImportPath.ts
  packages/metro-resolver-symlinks/src/remappers/remapReactNative.ts
  packages/metro-resolver-symlinks/src/resolvers.ts
  packages/metro-resolver-symlinks/src/resolvers/enhanced-resolve.ts
  packages/metro-resolver-symlinks/src/resolvers/metro-resolver.ts
  packages/metro-resolver-symlinks/src/resolvers/oxc-resolver.ts
  packages/metro-resolver-symlinks/src/symlinkResolver.ts
  packages/metro-resolver-symlinks/src/types.ts
  packages/metro-resolver-symlinks/src/utils/assets.ts
  packages/metro-resolver-symlinks/src/utils/enhancedResolve.ts
  packages/metro-resolver-symlinks/src/utils/enhancedResolveHelpers.ts
  packages/metro-resolver-symlinks/src/utils/package.ts
  packages/metro-resolver-symlinks/src/utils/patchMetro.ts
  packages/metro-resolver-symlinks/test/remappers/remapImportPath.test.ts
  packages/metro-resolver-symlinks/test/remappers/remapReactNative.test.ts
  packages/metro-resolver-symlinks/test/resolvers/metro-resolver.test.ts
  packages/metro-resolver-symlinks/test/utils/assets.test.ts
  yarn.lock
Labels: feature: metro

#3621 chore: remove unneeded `metro` root dependency
  package.json
  yarn.lock
Labels: chore

#3622 feat(metro-config): support Yarn in pnpm mode
  .changeset/bright-cobras-tell.md
  packages/metro-config/src/index.js
  packages/metro-config/test/__fixtures__/yarn-pnpm-repo/node_modules/.store/@babel-core-npm-7.27.1-0f1bf48e52/package/package.json
  packages/metro-config/test/__fixtures__/yarn-pnpm-repo/node_modules/.store/react-native-virtual-3e97acc5aa/package/package.json
  packages/metro-config/test/__fixtures__/yarn-pnpm-repo/node_modules/@babel/core
  packages/metro-config/test/__fixtures__/yarn-pnpm-repo/node_modules/react-native
  packages/metro-config/test/__fixtures__/yarn-pnpm-repo/package.json
  packages/metro-config/test/__fixtures__/yarn-pnpm-repo/yarn.lock
  packages/metro-config/test/index.test.ts
Labels: feature: metro

#3624 fix(cli): hangs and handle unknown commands
  .changeset/unlucky-moles-wink.md
  packages/cli/src/clean.ts
Labels: feature: cli

#3627 fix(metro-resolver-symlinks): add support for 0.82+
  .changeset/eight-wasps-wonder.md
  packages/metro-resolver-symlinks/src/utils/enhancedResolveHelpers.ts
  packages/metro-resolver-symlinks/src/utils/metro.ts
Labels: feature: metro

#3629 ci: ignore change files if a bot submitted the PR
  .github/workflows/pr.yml
Labels: chore

#3632 fix(eslint-plugin): correctly forward `@eslint/js` dependency
  .changeset/nice-mayflies-rush.md
  packages/eslint-plugin/package.json
  yarn.lock
Labels: feature: eslint
